[2018-08-07 11:42] GiverOfGifts commented on #660
Installing it the easiest way resulted in me not being able to use recognize_ndarray because the function doesn't exist (even though alpr --version spits out 2.3.0)
Installing it this way lets me use recognize_ndarray, but sometimes the function simply returns "Segmentation fault (core dumped)" without saying which line the error is from. It always happens with the same frames / pictures, while ot

[2018-08-08 21:35] eliuha opened #718 "Israeli license plates are not recognized"
taking the example plates from
[http://www.plateshack.com/y2k/Israel/israel.html](url)

and using the command `alpr -c eu -p il israel60-217-00.jpg`

[2018-08-10 03:30] DivisionMax commented on #129
Bumping this topic like @moodiejo, appears there is a lot of interest but just a handful of people with quality training data. Would be great if there is a `za.conf` floating around.

[2018-08-10 06:43] marktheunissen commented on #129
@moodiejo if you're using ALPR already, then you're probably using the EU plate detector, which is already free and available from Github.

I had some reasonable success with the EU detector myself.

Personally I don't think the technical approach of OpenALPR is the best way to do detection in the future - it uses opencv, whereas the future will be in CNNs (convolutional neural networks) which can

[2018-08-10 13:51] moodiejo commented on #129
Hi Mark,

Looks like we have very similar ideas regarding security. I am running Sighthound for Human Detection, and then camera snapshots via Facebox for facial recognition. Not perfect, but it does work to a large degree.

I am very interested in the SA-supported LPR System. Would you mind sending me a link that I can look at, or any details on this solution?

John

[2018-08-10 14:11] marktheunissen commented on #129
visec and itrack are two well known providers

[2018-08-13 06:29] istoff commented on #620
Thank you for  doing the port.  Works fine on my Oreo 8.1 device.

Is it possible to do processing from the camera feed directly?

[2018-08-17 19:01] Neyt0n opened #719 "Version 2.4.102"
Dear all, I hope this mail finds you all well.

I am particularly interested in using functionalities included in OpenAlpr 2.4.102, or above (for Python). However, due to be quite new in Openalpr and/or lack of knowledge, the latest version I can download in Github is version 2.3.0.

How do I download Opeanalpr version 2.4.102?

Thanks, Agostinho.

[2018-08-22 01:23] bit-scientist opened #720 "How to solve 'AlprNet' could not be found?"
I looked for the answers here and there with no luck, so I decided to ask out.
I want to implement this repository on my own PC and I am following [this video][2] to accomplish the task. I have done all the steps he did and at the end, when I tried to build it but, in one of the .cs code there is *CS0246* error that says:

    Error	CS0246	The type or namespace name 'AlprNet' could not be found (a

[2018-08-22 11:45] JarrodMP commented on #248
I am also having this problem. Does anybody have a fix?
I am trying [ https://github.com/peters/openalpr-windows/issues/6 ]

Instructions SHOULD BE

git clone https://github.com/openalpr/openalpr.git
• cd openalpr
• git clone https://github.com/peters/openalpr-windows.git windows
• cd windows
• git submodule update --init --recursive

it does seem to hang or take a long time ???

[2018-08-22 11:50] DivisionMax commented on #600
@somejavadev Did you get some traction on this at all, whether on GitHub or elsewhere?

[2018-08-22 13:25] somejavadev commented on #600
@DivisionMax I got busy on another project but seems that there is no big collaborative effort to get this done specifically for ZA. Seems like people are using a mix of the European plate sets and training their own.

[2018-08-22 17:07] psybox opened #721 "Systemd service restart on fail"
I am still having this problem #696 where alprd stop processing plates.
I tried to create a service on linux that restart on fail but it did not works.

Systemd unit:

``
[Unit]
Description=AlprdTest

[Service]
ExecStart=/opt/openalpr/src/build/alprd
Type=forking
Restart=on-failure
RestartSec=3
``

I already tried to use RemainAfterExit=no and yes and it did not worked either.

Any ideas?

When I

[2018-08-22 18:14] psybox opened #722 "How to see log INFO"
I see that there this log:

LOG4CPLUS_INFO(logger, "Running OpenALPR daemon in daemon mode.");

For example. But it does not shows on the log file. How can I do to see these logs?
In the log file just shows 'DEBUG -put job...'

[2018-08-23 01:10] pawarren opened #723 "Low FPS"
OpenALPR currently takes roughly 1/4th of a second (~.27s) to process a single 1920x1080 image. I'd like to get the overall performance to above four frames per second.

I followed these instructions to install OpenALPR: https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)#a-readme-to-real-time-license-plate-detection-with-openalpr-opencv-and-python

I'm accessing via

[2018-08-23 05:34] nixbpe commented on #723
Do you add `hardware_acceleration = 1` in configuration file ?

[2018-08-23 05:57] pawarren commented on #723
I have WITH_GPU_DETECTOR=ON but not hardware_acceleration = 1. Where do you
see the configuration file?

I'm installing things inside Docker, inside a CUDA-9.2 ubuntu 16.04 image.
Here's how I'm installing:

RUN apt-get update && apt-get install -y beanstalkd=1.10-3 \
build-essential=12.1ubuntu2 \
libcurl4-openssl-dev=7.47.0-1ubuntu2.8 \
libleptonica-dev=1.73-1 \
liblog4cplus-dev=1.1.2-3.1 \
libte

[2018-08-23 07:17] nixbpe commented on #723
You should modify file `/etc/openalpr/openalpr.conf`  example below
[code]

**ref:** http://doc.openalpr.com/on_premises.html#nvidia-gpu-acceleration

[2018-08-23 09:32] stevegdavis commented on #638
@git-sohib I too downloaded the openalpr-2.3.0-win-64bit.zip but doesn't include the 'bindings' sub-folder, I think I must have got that from the actual repro but I managed to get passed the problem of 'using AlprNet; and AlprNet.Models' missing errors. However when you try to run the exe from VS there is a dll missing called libopenalprc.dll and that is needed to bind the C# to the C++. I had to

[2018-08-23 09:40] git-sohib commented on #638
@stevegdavis thank you very much! Let me try and see what happens. And if you could please show us how you resolved your libopenalprc.dll issue. Feel free to do that anytime. Thanks one more time

[2018-08-23 14:52] stevegdavis commented on #638
@git-sohib This is how I built libopenalprc.dll see link:- [https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Windows)](url) and I followed 'The Harder Way' section, you should end up with a VS solution called src see screenshot:-

![openalpr build libopenalpr dll](https://user-images.githubusercontent.com/15140454/44532247-93618500-a6ea-11e8-90cd-08a01d7d2a34.jpg)

If I remember

[2018-08-23 15:19] pawarren commented on #723
Thank you for the comments and the documentation link. I've looked through
the document before but missed the config options.

Unfortunately, I'm not seeing increased performance. Still ~.27 seconds per
inference run.

I'm currently running on one frame at a time using
`alpr.recognize_ndarray(image)`. I've tried a few gpu_batch_size settings
without significant impact. I'm not sure what the optima

[2018-08-24 03:29] pawarren opened #724 "quieting [ INFO:0] Initialize OpenCL runtime..."
How do I prevent `[ INFO:0] Initialize OpenCL runtime...` from being logged to stdout when I run `alpr = Alpr('eu', '/app/cfg/openalpr.conf', '/app/lib/openalpr/runtime_data/')`?

[2018-08-24 06:05] MarCovy commented on #724
@pawarren what do you have on your openalpr.conf file on this position?

![image](https://user-images.githubusercontent.com/11411079/44567838-82f5ec80-a774-11e8-9a7a-041e5a632931.png)

[2018-08-24 06:16] MarCovy commented on #722
@psybox  did you try put in folder some .conf or .log config file for logger?
I do not know exactly how this logger works, but I used to have a similar case with a library in C #.

[2018-08-24 13:48] pawarren commented on #724
[code]

I am installing OpenALPR like so, inside a Docker file:

[code]

[2018-08-26 00:40] rodvelcae commented on #697
Did you change the RAM memory?
Or the video card or the processor?

Could be a physical ram error.

[2018-08-27 05:01] nixbpe commented on #723
@pawarren I have no idea now.

[2018-08-28 06:08] nbaklanov-issart opened #725 "Can't build openalpr on MAC (10.13.3)"
Can't build openalpr on MAC OSX using instructions.
I got error:

macOS - 10.13.3
I tried to reinstall, or even uninstall and install again opencv, but no luck.

[2018-08-28 06:40] Jacquesvw commented on #129
Hi Mark,

The person detector you are using sounds very impressive with the 15fps you're getting on a Raspberry Pi. Are you planning to develop a commercial system or is your implementation open source? Reason I'm asking is because I need such a system for my own use as I live on a farm. I have a human detector running using OpenCV but the performance is not adequate on my Tinker Board and I have

[2018-08-28 07:43] zhouhao27 opened #726 "Is it possible to output the vehicle plate image?"
Is there a way only detect the bounding box for the vehicle plate and output an image for that? Thanks.

[2018-08-28 08:51] marktheunissen commented on #129
Hi Jacques, my software isn't released yet, it might be open source one day but at the moment it's still in testing. In the meantime you can check out two SA providers:

http://www.deepdata.works/wp/how-it-works/
http://www.isds.co.za/Software/isentry.php

[2018-08-28 08:59] Jacquesvw commented on #129
Thanks Mark, if you ever need someone to do field testing let me know.

[2018-08-29 15:48] alvarogalia commented on #726
Not sure if api let you do that anyway you can get coordinates from plate results and then crop image by yourself with opencv or something

[2018-08-30 04:47] mohit472 opened #727 "how to get infomation about number plate"
my alpr is working and giving me confidence
let us
`alpr lp.jpg`
it is giving me confidence
after getting the confidence how to get information about the number plate
and how to connect the system to live system through camera and capture images?
![screenshot from 2018-08-30 10-17-02](https://user-images.githubusercontent.com/25191880/44830143-e0d77800-ac3d-11e8-978e-7fabbe607f3b.png)

[2018-08-30 10:17] danielricart commented on #569
You can override the entrypoint using the following command:
`docker run --entrypoint "/bin/bash" -it --rm openalpr:latest`

[2018-08-30 16:52] joskar201 commented on #581
Same here I've tried openalpr on docker the installation was successful and the image on the installation guide works fine but I just get 'No license plates found' for any other images but the cloud API works fine for those same images.

[2018-08-31 08:48] zhouhao27 commented on #727
Whatelse do you want to get? There are 10 results returned. The first vehicle number is 786P0. The confidence for this is 89.6593.

[2018-08-31 09:46] mohit472 commented on #727
I want to know that how can I connect through live cam as I am unable to connect it

[2018-08-31 19:15] alvarogalia commented on #727
If you want to connect to a ip cammera you need to use openalpr daemon

[2018-09-01 03:12] mohit472 commented on #727
do u have any wiki or instructions how to use openalpr daemon to get live or real camera image

Also
Can we get information about the car
Like

`car is lambo 2017  model` something like that
2017 is model when the car is bought
And Lamborghini is the car name

[2018-09-01 04:16] alvarogalia commented on #727
You have to write a Java/C++/Python app to get connected to ip camera (maybe with OpenCV) and send frame by frame to openalpr

[2018-09-02 10:07] mohit472 commented on #727
it is working with webcam
thank you
but I want to ask
how to check number plate is real or fake?
`like the number is us2K766  and the number is fake`
`how can I check or allow the car to enter without knowing  the car exist or not`
you are getting my point.

all things are working but for that, I want to know only the car number exists or not.
because only for security purposes.

[2018-09-03 05:39] alvarogalia commented on #727
If it doesn’t have a pattern, it’s hard to know if a plate number is fake or not

For example, in my country we have a pattern:
[A-Z][A-Z][A-Z][A-Z][0-9][0-9]

Any way the only way to know if the plate number isn’t fake is to view vehicle’s documents.

El 02-09-2018, a la(s) 07:07, Mohit Bansal <notifications@github.com> escribió:

[2018-09-03 14:19] alvarogalia commented on #644
You save my day!

[2018-09-03 15:54] #727 closed

[2018-09-05 10:35] sepehr78 opened #730 "How to directly give a Mat to the API?"
I am using the Java binding and have tried converting the Mat to a BufferedImage and then giving its byte array to the API, but it does not work. Instead, I have to use Imgproc.imwrite to save the Mat as a png file and then give the file name to the API. Is there a way to directly give the Mat to the API?

[2018-09-06 15:55] alvarogalia commented on #408
Hi, where can I get updated dll? I can't compile source and last release is from before the fix

[2018-09-08 16:08] boomfly commented on #572
+1

[2018-09-08 19:47] sepehr78 opened #731 "OpenCV Error: Assertion failed"
I am using the Java binding to write a single-threaded plate recognition program for videos. Sometimes, after the program has been running for a couple of minutes, the following error keeps being printed to the console and the program fails to detect any plates, but it keeps running:

Caught exception in OpenALPR recognize: C:\projects\openalpr-win\windows\opencv\modules\core\src\ocl.cpp:5118: err

[2018-09-09 16:33] alcondis commented on #408
Would be great if dll can be posted or a new windows release can be compiled!!!
Thx in advance

[2018-09-10 05:02] RainGrid commented on #558
https://github.com/RainGrid/openalpr_ru_runtime

[2018-09-10 15:54] BramWerbrouck commented on #177
I have a similor probleem, it’s like the API cloud Version Works corrector than the ‘general’ version.
when I Change “us” into “eu” (because I want to read licence plates from Europe) I get An Error.

I used this in my python script:
Plate = ALPR(“eu” , “/etc/openalpr/openalpr.conf” , “/usr/share/openalpr/runtime_data”)

The EU Sems logical to me, but it doens’t work.. what do I do wrong?

[2018-09-12 09:33] sleebapaul opened #732 "Detecting Indian Plates and Attribute error in Python binding (again)"
Though we've suitable configurations in runtime for Indian number plates, I'm not able to input country code for India as `in`. What is the country code used for India if it is not `in`?

I've raised a bug on OSX compilation at [here](https://github.com/openalpr/openalpr/issues/658) and it seems to be working now. Still, there is an attribute error regressed while running `test.py` under python bi

[2018-09-13 06:13] sleebapaul commented on #732
@matthill @dhruvmun  Can you have a look at this?

[2018-09-13 10:48] muhammadahmed1995 opened #733 "openalpr-utils-binarizefontsheet"
I have installed openalpr on ubuntu 16.04 but cant seem to find openalpr-utils-binarizefontsheet. How can I install it or run after installation of openalpr?

Thank You.

[2018-09-13 13:10] ryubidragonfire commented on #617
I have the same problem too ... Can anyone help?

[2018-09-18 05:36] jogiji commented on #273
@kevinjpetersen  Can we have an updated script which support latest release of the OpenAlpr SdK.
I tried it with latest sdk but it seems to fail on some testing scripts and places here and there.
or is it that i need to use specific cmake version to make this work.

Build using @jav974 forked repo works with the script.
Replacing the cmakelist file from that forked repo to the official repo gets t

[2018-09-18 05:48] jogiji commented on #273
`> Task :tess-two:ndkBuild
Android NDK: android-9 is unsupported. Using minimum supported version android-14.
Android NDK: WARNING: APP_PLATFORM android-14 is higher than android:minSdkVersion 9 in ./AndroidManifest.xml. NDK binaries will *not* be compatible with devices older than android-14. See https://android.googlesource.com/platform/ndk/+/master/docs/user/common_problems.md for more informat

[2018-09-18 05:49] jogiji commented on #273
<pre><b>&gt; Task :tess-two:ndkBuild</b><font color="#C4A000"> </font>
Android NDK: android-9 is unsupported. Using minimum supported version android-14.
Android NDK: WARNING: APP_PLATFORM android-14 is higher than android:minSdkVersion 9 in ./AndroidManifest.xml. NDK binaries will *not* be compatible with devices older than android-14. See https://android.googlesource.com/platform/ndk/+/master/do

[2018-09-18 08:30] appyfizzA commented on #528
Does not work for me.

[2018-09-18 09:40] #733 closed

[2018-09-25 08:14] LudgerSanto opened #737 "License plate recognition Portuguese car"
Hi, I am developing a project for recognition portuguese license plate and for some reason I can not recognize the license on the image below:

![matricula](https://user-images.githubusercontent.com/9082868/46001297-d96f8700-c0a2-11e8-90a9-618e0ceb513e.png)

Can you help me to solve this problem?

[2018-09-30 11:05] cod-r commented on #707
I did the same steps and I have exactly the same problem, running from the console:
[code]
I'm getting this error:
`Segmentation fault (core dumped)`

[2018-10-02 07:01] damirqa opened #738 "Library Import Problem (Python 3.7)"
Hello! I tried run my code for check working capacity
[code]
But i got errors:
[code]

How can this problem be solved?

[2018-10-02 12:13] psybox opened #739 "Can not compile with OpenCV 3.3.1 + CUDA"
Can OpenALPR be used with any of the OpenCV 3.* versions? I have complied OpenCV with CUDA=ON.

`[ 29%] Building CXX object openalpr/CMakeFiles/openalpr.dir/alpr_impl.cpp.o
			/opt/openalpr/src/misc_utilities/prepcharsfortraining.cpp: In function ‘int main(int, const char**)’:
			/opt/openalpr/src/misc_utilities/prepcharsfortraining.cpp:159:42: error: ‘CV_BGR2GRAY’ was not declared in this scope

[2018-10-03 14:39] damirqa commented on #707
Ubuntu said:

Send report?

[2018-10-03 15:12] damirqa commented on #707
I tried run python code from [Integrating OpenALPR
](https://github.com/openalpr/openalpr/wiki/Integrating-OpenALPR) and i got message from console PyCharm

I searched and found [stackoverflow](https://stackoverflow.com/questions/49414841/process-finished-with-exit-code-139-interrupted-by-signal-11-sigsegv)

[2018-10-05 08:18] sepehr78 commented on #730
I got the byte array from a Mat like this
` byte[] data = new byte[];
  Mat mat = new Mat();
  mat.put(0, 0, data);`
and then I directly gave data to Alpr::recognize. It does not produce any error messages, it simply does not detect any plates. However, if I save the same Mat using imwrite and then give the file path to Alpr::recognize, it recognizes the plate(s) as expected.

[2018-10-05 13:48] damirqa opened #741 "distutils.core"
Hello! I followed the [instructions](https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)#a-readme-to-real-time-license-plate-detection-with-openalpr-opencv-and-python) and the next step was

When I launched py file, i get message:

How I can solve this?

[2018-10-05 16:41] damirqa commented on #741
Only for Python 2
[code]

[2018-10-05 19:55] sjjpo2002 commented on #479
same issue here

[2018-10-06 02:08] eggeggss opened #742 "How to grab the position of the license plate? such as the [x,y,width,height]"
hi ~ I try the python sample code,
but I only get the x,y but no width and height
How to grab the position of the license plate?
be like the bounding box

[2018-10-07 18:08] MaudorElConquistador commented on #742
if you want draw a rectangle on the license plate, do it with the function of opencv cv.rectangle.
i did it like that.
`

        cor1x = json.dumps(x["results"][0]["coordinates"][0]["x"])
        cor1y = json.dumps(x["results"][0]["coordinates"][0]["y"])
        cor2x = json.dumps(x["results"][0]["coordinates"][2]["x"])
        cor2y = json.dumps(x["results"][0]["coordinates"][2]["y"])

        c

[2018-10-08 07:09] Asatronom commented on #730
I was having a similar problem, which was based on me using monochrome images. When Alpr::recognize reads the file it loads it as a color image with three channels, but if you give the data yourself you have to make sure that it has three channels (using e.g. cvtColor with GRAY2BGR).
This gave rise to a cvException, but if you are not getting that I suppose there might be a different problem.

[2018-10-08 07:41] sepehr78 commented on #730
So to solve your problem you took a Mat with RGB channels and took it's byte array data and gave it to Alpr? How did you get the byte array of the Mat?

[2018-10-08 09:39] Asatronom commented on #730
First of all, I am using the C++ API which might be slightly different. The alpr::recognize function needs a vector of alpr::AlprRegionOfInterest, but it does not need to be initialized. My function call looks like this:
Mat img; //A color image containing a number plate
std::vector<alpr::AlprRegionOfInterest> emptyRoi;
AlprResults results = alpr.recognize( img.data, img.elemSize(), img.cols, img.

[2018-10-08 09:49] sepehr78 commented on #730
Unfortunately the Java API is quite different and my problem still persists :/ Thanks anyways.

[2018-10-08 21:39] evalsocket commented on #737
Check Documentation [Adding a new Country ](http://doc.openalpr.com/opensource.html#adding-a-new-country)

[2018-10-08 21:45] evalsocket commented on #726
Repeat issue [check](https://github.com/openalpr/openalpr/issues/742#issuecomment-427673980)

[2018-10-08 23:02] jveltd commented on #407
@VinylCarbon Do you still have the OpenALPR files for increasing GB plate accuracy?  I'd be very interested if you do.

My email is james@jveltd.co.uk

Thanks, James

[2018-10-09 01:00] #742 closed

[2018-10-09 01:01] eggeggss commented on #742
thanks

[2018-10-09 16:28] jesusatgar opened #743 "OpenALPR for UWP"
Is there any way to compile OpenALPR for UWP? If not, it would be useful for UWP applications like HoloLens. I haven't been able to do it myself altough it seems like an "easy" task to do.

[2018-10-11 14:59] Laick1 opened #744 "binding java cannot run video"
May i know anyone doing openalpr using java binding for video ? i try to run video but it only can run image. Sorry i am a newbie

[2018-10-15 12:21] pide2000 commented on #706
Okay, so we have a bug report for ubuntu. Anyway, the Docker Container on the master is still broken. Maybe we should provide some information on this problem? I think it's not fair to let others run into this well known problem?

[2018-10-15 13:21] pide2000 commented on #706
For me it works to set the ubuntu version in the dockerfile to 16.04:
- from ubuntu:18.04
+from ubuntu:16.04

Maybe thats an naive approach but if it works, why not?
Can aynone confirm this as a quick fix?

[2018-10-15 13:35] Silex commented on #706
There are 3 possiblities to solve this problem.

1. Just wait until the problem solves itself.
1. Downgrade to 16.04 & Install some PPA to have the latest OpenCV.
1. Stay at 18.04 & Downgrade tesseract.

[2018-10-15 13:54] pide2000 commented on #706
@Silex
Yes, shure. I'm fine, it works for me.
Just asking the question (and maybe find a solution) if it is really a good idea to leave a Dockerfile in master which produces a broken Image/Container?

[2018-10-15 13:59] Silex commented on #706
Probably not, but I was just enumerating the possible outcomes.

[2018-10-15 15:39] josephfrazier commented on #706
Thanks for enumerating the options, @Silex! As the person who introduced the change that seems to have caused this (https://github.com/openalpr/openalpr/pull/690), I feel like we could add another option: revert #690 and just let EXIF-oriented images be broken. I'm not sure if that's better or worse than the current problem.

However, there's a further option, use Ubuntu 17.10, which has [OpenCV 3

[2018-10-15 16:04] josephfrazier commented on #706
Hmm, with Ubuntu 17.10, it seems like the EXIF-oriented image still works, but the `convert`-ed image is still broken. For reference, here's the test commands I'm running:

[code]

[2018-10-16 05:52] pide2000 commented on #706
Yeah, thank you @Silex. Sorry for beeing impatience. Showing the Options will be very helpful for others.

I think a partially working image is better than the current state. At least someone should write a hint and refer to this issue (I can do this if we have a final solution) e.g. in the readme, so nobody is wasting time trying to get it up and running.

And just for my understanding, 16.04 is

[2018-10-16 06:44] Silex commented on #706
No worries! Maybe that can help: https://launchpad.net/~timsc/+archive/ubuntu/opencv-3.4?field.series_filter=xenial

[2018-10-17 15:12] josephfrazier commented on #706
16.04 has [opencv 2.4.9.1+dfsg-1.5ubuntu1.1](https://packages.ubuntu.com/source/xenial/opencv), and it appears not to work on either the `convert`-ed test image, or the EXIF-oriented image :(

[2018-10-19 08:25] fchaxel opened #745 "Binding C# under mono"
Hi

libopenalprc.so is not given (it seems). So runing under linux/mono fail.

Maybe somebody in the staff could resolv it.

A 'temporary solution':

gets the two files alpr_c.cpp & alpr_c.h

build and copy the lib
`gcc -c -fPIC alpr_c.cpp -o libalprc.o -lopenalpr.so`
`gcc libalprc.o -shared -o libopenalprc.so -lopenalpr`
`sudo cp libopenalprc.so /usr/lib/libopenalprc.so`

Then run the code normal

[2018-10-19 11:42] josephfrazier commented on #706
FWIW, I just tested with `ubuntu:18.10` and got the following (still-broken) results:

[code]

I also tried `debian:stretch`, but it was worse:

[code]

[2018-10-21 16:45] rohitsi commented on #706
Downgrading to 16.04 and building the docker images worked for me.

[2018-10-22 16:47] Ruben9922 opened #747 "TypeInitializationException occurs when using C# binding"
Using the C# binding, the following exception occurs:
[code]

It occurs when running the example CLI program at: https://github.com/openalpr/openalpr/blob/v2.2.0/src/bindings/csharp/openalprnet-cli/CommandLine.cs, but I think it's caused when calling the constructor for `AlprNet`, e.g.,
[code]

[2018-10-30 12:25] toniesteves opened #748 "Motorcycle plates detection to Brazil"
Hi! I can't perform motorcycle plates detection to Brazilian plates. Have anyone already done it?

OSX High Sierra
MacBook Pro (13-inch, Mid 2012)
Processor 2.5 GHz Intel Core i5

[2018-10-31 09:37] #532 closed

[2018-10-31 09:38] #504 closed

[2018-10-31 11:29] jingtaosun opened #749 "How to use ALPR API to process video?"
I want to process the video using alpr's API, but I cann't find out the python sample code in here, does the developer can help us to solve this problem?

I would like to share the sample code for processing the image data. I checked it , it works.

from openalpr import Alpr
import sys

image_path = sys.argv[1]
alpr = Alpr("us", "/etc/openalpr/openalpr.conf", "/usr/share/openalpr/runtime_data")
if

[2018-11-02 14:07] usantos commented on #748
Do you detect car plate brasil? What did you use to set it up?

[2018-11-02 14:13] toniesteves commented on #748
Yes I detect Brazil car plates, sometimes not precisely, but works. For it I use a piece of code in OpenALPR doc:

https://github.com/openalpr/openalpr/tree/master/src/bindings/python <https://github.com/openalpr/openalpr/tree/master/src/bindings/python>

Toni Esteves
Bacharel em Sistemas de Informação
Especialista em Administração de Bancos de Dados
Twitter: @toni_esteves
Skype: toni.esteves
http

[2018-11-03 14:29] xtianhb commented on #749
That is the basic example from Documentation. `https://github.com/openalpr/openalpr/wiki/Integrating-OpenALPR`.

You should try to navitage the source code, python bindings, and check the exported functions.
Check out this file:
https://github.com/openalpr/openalpr/blob/master/src/bindings/python/openalprpy.cpp

You should open a video stream with opencv and pass grabbed frames to a function like

[2018-11-03 16:01] xtianhb commented on #748
Hello,
Have you tried using --debug option? To gather more info?
Are you using standard configuration?
Images size?

[2018-11-03 16:07] xtianhb commented on #739
Have you traced down in openalpr src code and opencv if CUDA=ON define changes that macros scope?

[2018-11-03 16:09] xtianhb commented on #738
Have you executed the setup.py script?
https://github.com/openalpr/openalpr/blob/master/src/bindings/python/setup.py
I think it is included in Windows Binaries also, in the pyton folder.

[2018-11-03 16:09] usantos opened #750 "Brasil Plates (São Paulo)"
I have this configuration in br.patterns to São Paulo Plates, but do not recognize some plates

For Example:

![carro6](https://user-images.githubusercontent.com/124369/47954512-8aeabd80-df69-11e8-83c4-1c9e2a911abf.jpg)

Is there any other settings?

Thanks!

[2018-11-03 16:10] xtianhb commented on #731
I don't know how is your data flow, but verify that openalpr gets actual data and not an empty frame. As far as I've seen there are not strong checks of that kind of things in the sources.

[2018-11-03 16:29] xtianhb commented on #719
I think it is not released yet beacuse that newer versions are commercial releases, and cost money.

[2018-11-03 16:33] xtianhb commented on #459
You should train one detector for both plates, and train the OCR for the two sets of fonts.

[2018-11-03 16:37] usantos commented on #750
Yes, returns this debug info

 Whats is prewarp?

[2018-11-03 17:13] usantos commented on #750
Can you share your OpenAlpr.conf?

[2018-11-03 20:30] xtianhb commented on #705
Adding a new country I've found the same result with multiline plates.
Have you debbuged this behavior?
It should be only an upper limit, right?
But actually increasing it reduces results...

[2018-11-03 20:39] xtianhb commented on #570
I've found
template_max_width_px
template_max_height_px
are very sensitive to get results

In the debbuging you should check if there is low character confidence.
Prewarp is recommended when you will use a fixed installation with tilted camera.
Most probably there is a tunning needed with .conf parameters.

[2018-11-03 20:48] xtianhb commented on #750
Prewarp is recommended when you have a fixed installation with a tilted camera. Doesn't matter now.

Check this.
Edit br.conf in runtimedata/config/br.conf, and replace:
[code]
with
[code]

After that it should work.

[2018-11-04 07:26] HamidEbr opened #751 "How to use libopenalprjni.so in an android project"
Hi guys!
After few days, i can compile openalpr in Ubuntu 18.04 and now i have libopenalprjni.so and two jni files that creates automatically (com_openalpr_jni_Alpr.h and openalprjni.cpp). Also I've Main.Java with some other java source files that seems it is not an android related java source!
I create a jni static shared library and use com_openalpr_jni_Alpr.h and openalprjni.cpp on it and refer

[2018-11-05 10:53] jingtaosun commented on #749
Thank you so much for your response.
However, I checked the documentation and the source code, just hope the developers can shows some details steps for we use their API.

This project is very good, we want to cooperate with this project in the future according to our preliminary test.

[2018-11-05 13:30] #738 closed

[2018-11-05 14:48] usantos commented on #750
I change to this value
template_max_width_px = 100
template_max_height_px = 33
but still could not read the plate

[2018-11-06 10:07] rahul4tripathi2 opened #752 "Unable to compile openalpr github"
Hi All,

I'm successfully able to compile opencv and tesseract using build script git by peters but it is failing when compiling openalpr github, I've tried installing C++ Compiler multiple times but it is failing again and again. Can someone pls help me on that.

Error logs error
Compiling the C compiler identification source file "CMakeCCompilerId.c" failed
LINK : fatal error LNK1327: failure du

[2018-11-06 12:12] rahul4tripathi2 commented on #752
Issue - Compiling the C compiler identification source file "CMakeCCompilerId.c" failed
I've fixed the issue after installing windows SDK in visual studio. Now I'm getting error

C:\Users\rahul2.tripathi\Desktop\Final\openalpr\src\openalpr\support\filesystem.cpp(166): error C2297: '<<': illegal, right opera
nd has type 'const char [7]' [C:\Users\rahul2.tripathi\Desktop\Final\openalpr\windows\build

[2018-11-06 22:51] chrisxue815 commented on #580
https://pixometer.io/ looks decent too.

[2018-11-09 02:46] josephfrazier opened #753 "How to contribute a license plate image library?"
Hi, I noticed at https://github.com/openalpr/openalpr/tree/6ead2fb8f72ac1929a2e04912c5795af0bf37761#contributions that license plate images are welcome:

There are thousands of images containing US plates at
https://twitter.com/Reported_NYC, and they're "tagged" in the twitter post
bodies. What's the best way to go about contributing them to the project?
For what it's worth, I tried connecting to

[2018-11-13 23:16] leandroz3ta commented on #124
Existe alguma configuração para outras cores de placa?
Fiz o teste com placas preta, vermelha e verde.
A preta houve reconhecimento parcial das letras, a vermelha e verde nem chegou a reconhecer.

[2018-11-14 11:09] sandropf commented on #124
@leandroz3ta para placas vermelhas tente:

run_time/config/br.conf

Coloque o campo "invert" como always:

`invert = always`

Entretanto, isso vai fazer parar de reconhecer placas comuns. O que eu fiz foi duas configurações, uma para comuns e outra para vermelhas, e meu algoritmo roda as duas.

[2018-11-14 11:56] AdrianoCahete commented on #124
Pra placas de outras cores, não faz mais sentido ter um passo anterior (fora do projeto, obviamente) que passe as placas pra preto-e-branco, pra depois passar pela solução?

[2018-11-14 15:12] kevinjpetersen commented on #591
Hi @cclcalder

I'd recommend my .sh script for Ubuntu (Could probably work with OSX if modied a bit, haven't tested on OSX) which handles everything related to dependencies, building etc. Simply run the script, enter YES a few times on your keyboard and after 10 minutes-ish, you should have the .so file to use in your Android Project :)

SH Script: https://gist.github.com/kevinjpetersen/0e52874b5b

[2018-11-14 15:15] calerc1 commented on #529
Hi, I have the same problem installing the package through homebrew (Mac OSX High Sierra v10.13.6).
After running these commands:
$ brew tap brewsci/science
$ brew install openalpr
$ brew install --HEAD openalpr

All of these commands succeed, however when I run the command:
$ alpr <path to image>

I get the following error:
"dyld: Library not loaded: /usr/local/opt/tesseract/lib/libtesseract.3.dy

[2018-11-15 00:43] usantos commented on #124
Pode compartilhar seu br.conf?

Mesmo com placas com boa qualidade não estou conseguindo ler. Algumas sim outras não.

[2018-11-15 00:45] leandroz3ta commented on #124
`; 35-50; 45-60, 55-70, 65-80, 75-90
char_analysis_min_pct = 0.35
char_analysis_height_range = 0.15
char_analysis_height_step_size = 0.10
char_analysis_height_num_steps = 5

segmentation_min_speckle_height_percent = 0.4
segmentation_min_box_width_px = 2
segmentation_min_charheight_percent = 0.4;
segmentation_max_segment_width_percent_vs_average = 2.0;

plate_width_mm = 400
plate_height_mm = 130

m

[2018-11-15 01:39] usantos commented on #124
Você está usando Python para efetuar a leitura?

está usando o set_defaut_region?

[2018-11-15 01:42] leandroz3ta commented on #124
Estou usando java e usanto set_default_region

[2018-11-15 11:02] leandroz3ta commented on #124
Estou utilizando os patterns default do projeto que vem no git.
No meu caso testei algumas nestas posições e também não detectou.
Pelo que andei lendo na documentação, isso é questão de calibração.

[2018-11-15 13:05] usantos commented on #124
Será que lendo com veículo em movimento teremos mais chances de sucesso na detecção?

[2018-11-15 13:11] tcpipchip commented on #124
eu uso AMAZON services, nao falha uma...mas nao vale a pena se quiser ler de milhares de carros

________________________________
De: Ubiracy <notifications@github.com>
Enviado: quinta-feira, 15 de novembro de 2018 13:06
Para: openalpr/openalpr
Cc: tcpipchip; Mention
Assunto: Re: [openalpr/openalpr] Support for Brazilian number plates (#124)

[carro16]<https://user-images.githubusercontent.com/124

[2018-11-15 13:12] usantos commented on #124
Usa o Servico da OpenAlpr? No meu caso seria realtime e não posso ficar preso com licenca

[2018-11-15 13:52] usantos commented on #124
Estou usando Raspberry 3B + Ubuntu Mate

[2018-11-15 13:59] tcpipchip commented on #124
ahhh sim, pena que é caro!

________________________________
De: Ubiracy <notifications@github.com>
Enviado: quinta-feira, 15 de novembro de 2018 13:52
Para: openalpr/openalpr
Cc: tcpipchip; Mention
Assunto: Re: [openalpr/openalpr] Support for Brazilian number plates (#124)

FPU

Estou usando Raspberry 3B + Ubuntu Mate

—
You are receiving this because you were mentioned.
Reply to this email direc

[2018-11-15 14:09] usantos commented on #124
Como está suas configs de camera calibration?
Teve que alterar algo?

Neste momento está assim o meu mas detecta esta placa
![captura de ecra no 2018-11-15 12-06-57](https://user-images.githubusercontent.com/124369/48558016-5662f400-e8cf-11e8-9ec0-65e9a97498f3.png)

[2018-11-18 18:58] mmterkc opened #754 "How can ı use c# with camera"
Hi, I am student than i have license plate project with c#. I found these code;
using openalprnet;

var alpr = new AlprNet("us", "/path/to/openalpr.conf", "/path/to/runtime_data");
if (!alpr.IsLoaded())
{
    Console.WriteLine("OpenAlpr failed to load!");
    return;
}
// Optionally apply pattern matching for a particular region
alpr.DefaultRegion = "md";

var results = alpr.Recognize("/path/to/im

[2018-11-18 21:17] AviFix commented on #532
upload_data = 1

[2018-11-19 17:18] bruno-siqueira-simples opened #755 "Invalid pattern :("
He recognized it once, but then I had that mistake.

Invalid pattern provided: br
Valid patterns are located in the br.patterns file

[2018-11-19 17:43] bruno-siqueira-simples commented on #750
Invalid pattern provided: br
Valid patterns are located in the br.patterns file tive esse erro, reconheceu uma vez, mas depois começou dar isso :/

[2018-11-19 20:51] danshev commented on #192
I just experienced this same issue -- no output on a Mac when using a very clear image; I suspect it's a result of some sort of overflow.

- When I used a 2 MB image, there was simply no output, despite a *very* clear plate.
- When I resized the image to 640 x 480, the plate was detected perfectly.

[2018-11-21 08:52] jovargas commented on #750
That is the main error. Use [Google Translator](https://translate.google.com.br/#en/pt/Input%20detection%20image%20is%20too%20tall) and be happy. (What about some source code surfing to find why is that error generated?)

Tip: Forget about the Regex + patterns feature in Brazil. Nothing but a waste of time. Read this: https://github.com/openalpr/openalpr/pull/736#issuecomment-423969799
All you can

[2018-11-21 08:56] jovargas commented on #750
Forget about the Regex + patterns feature in Brazil. Nothing but a waste of time. Read this: https://github.com/openalpr/openalpr/pull/736#issuecomment-423969799
All you can do is force the @@@#### pattern in YOUR postprocess code after OpenALPR results.

[2018-11-21 15:13] usantos commented on #750
Você usou a instalação reduzida ou a completa?

[2018-11-21 15:56] bruno-siqueira-simples commented on #750
Usei a 'The Easy Way'. Interfere em algo ?

[2018-11-22 11:02] rathoremazhar commented on #751
How did you solved this problem? I have the same issue.

[2018-11-23 23:05] MhmdAlmz commented on #175
I have same issue,
I update the build.ps1 folder ...
`line 13 from [ValidateSet("v100", "v110", "v120", "v140")]  to [ValidateSet("v100", "v110", "v120", "v140", "v150")]`

After than
I add too script v150
[code]
I added the Enviroment Path and update this code
 from
[code]
to
`  $script:VXXCommonTools = Join-Path $VXXCommonTools  "..\..\vc\Auxiliary\Build"
    if ($VXXCommonTools -eq $null -or (-

[2018-11-24 06:48] Durgaprasad525 opened #756 "Unable to get year and body_type from API response"
`var formData = {
                `secret_key:'key,`
                image: fs.createReadStream(a.image[0].path),
                vehicle_photo:fs.createReadStream(a.image[0].path),
                tasks:'plate, make, makemodel, color',
                recognize_vehicle:1,
                country:'in'
            };
              request.post({url:'https://api.openalpr.com/v1/recognize', formData:

[2018-11-24 08:03] MhmdAlmz commented on #519
Did installed ? @Martini002  , @HotSpotNick

[2018-11-24 12:36] Durgaprasad525 commented on #440
@TheDApact  unable to get color and body type of the image when using nodejs. Any Idea?

[2018-11-24 14:41] nardeas commented on #702
I'm experiencing exactly the same issue as described above. Any ideas here?

[2018-11-27 16:53] fzmatta commented on #124
Cara eu consegui sim, só que ja faz tempo que parei de mexer no programa, não me lembro o comando que usei, mas pegando a placa de frente tava lendo todas

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Icaro Jobs <notifications@github.com>
Sent: Tuesday, November 27, 2018 7:23:28 AM
To: openalpr/openalpr
Cc: fzmatta; Comment
Subject: Re: [openalpr/open

[2018-11-27 23:01] avrcore commented on #508
Same Issue here. Is uninstalling numpy my only option? Is there another workaround? Took me 12h to boil it down to here...

[2018-11-28 16:04] rdarioduarte commented on #546
Did you find any fix to this problem?

[2018-11-29 13:19] rdarioduarte commented on #461
I'm getting the same issue using openAlpr 2.3.0 and python 3.7.1
I know this is old but, did anyone find the problem?

[2018-12-01 14:09] alucard079 commented on #707
Anyone fixed this in Ubuntu 18? I am also having the same error with using

[code]
And Getting this error
[code]

[2018-12-02 10:01] nardeas commented on #702
Building the image with Ubuntu 16.04 as base image resolved the issue for me!

[2018-12-03 05:46] tajition commented on #707
Specifying correct country code seems to fix this issue. The error seems to stem from trying to auto match the country.

[2018-12-03 14:00] PYCChan commented on #638
@xtianhb Replacing lipopenalprc.dll with openalpr.dll didn't work for me.
Exception: System.BadImageFormatException.
Agreed that these two dll are native C++ formats.

[2018-12-04 21:55] Ruben9922 commented on #747
Nah unfortunately not. However I’ve been busy so haven’t had time to try out anything else to try to fix it.

[2018-12-05 13:37] alucard079 commented on #749
I'm working currently right now with that code. How do I open a video stream with opencv and use the`alpr.recognize_ndarray()` I'd followed the instructions on this link "https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)" then in real-time license plate detection with OpenALPR, OpenCV and Python. Please help me.

[2018-12-05 13:49] alucard079 commented on #660
@klwlau can you run now the realtime license plate detection with open alpr, opencv and python?

[2018-12-06 01:41] klwlau commented on #660
@alucard079 yes, i can with the above setup

[2018-12-06 01:59] alucard079 commented on #660
@klwlau will you help me? Im done with the step 4. Right now I'm doing the step 5. I saw that in the bindings/python there's a `camera.py` am I right?. I can processed now also the plate number statically by declaring the image file. Now when I run the `camera.py` it says that `no module named cv2` knowing that I installed it from the `The easy way`. Please help me.

[2018-12-06 02:01] klwlau commented on #660
@alucard079 sure, are you using ubuntu 16.04 with anaconda 5.1(Python 3.6 version)?

[2018-12-06 02:09] alucard079 commented on #660
Can I contact you with FB? Right now I'm using ubuntu 18.04 and Installed with successfully however there's some error that I couldn't fix. Yes I am using that version of python.

[2018-12-06 22:40] yvoxu opened #757 "Can openalpr take a stream?"
I'm trying to call openalpr api from my server. I've converted my image to a buffer then to a stream. I've also set my call openalpr method to take the stream as an argument. But it keeps giving me errors. (It can't load image even if I get rid of the stream, use file path as the original post now)
<img width="841" alt="screen shot 2018-12-07 at 11 39 01" src="https://user-images.githubusercontent

[2018-12-07 11:11] AndriiHavrylyak opened #758 "Instructions on adding a country"
Hi, I have installed openalpr, but it only gives us a nominae of the USA, Europe. How to add numbers from ukraine to me? You can give some step-by-step instructions for adding a new country. Thank you.

[2018-12-07 11:12] AndriiHavrylyak opened #759 "How to add a country using тессеракт-OCR"

[2018-12-07 11:14] #759 closed

[2018-12-10 22:13] #757 closed

[2018-12-13 16:15] papilou86 opened #760 "Compilation error with g++"
Hello,
I am French, sneak my bad English.
I would like to use openalpr with windows 10 64 bits, so I downloaded "openalpr-2.3.0-win-64bit". I tried using it with the alpr.exe command, that's fine, it works. I tried with the command "openalprnet-windemo.exe" it also works very well.

I would like to use openalpr with the C ++ or C language with the compiler of "mingw-w64-install.exe" and the gcc or

[2018-12-19 09:31] alucard079 commented on #543
Someone help me about alprd and also on how to add new country and train it?

[2018-12-19 09:35] alucard079 commented on #376
Hello @vladimirr0708982  would you help me on how to train ocr with a new country some of their instructions I do not get it. I'm confused on how to start it. please very appreciated.

[2018-12-19 09:55] AbdallahNasir commented on #628
Hello @alucard079 .
I did not actually. I did a workaround to avoid compiling the library.

Best luck in your work dear

[2018-12-19 10:56] muaz10 commented on #310
Is there anyway to train for a region where there are characters of different sizes on the same line?

[2018-12-19 13:55] alucard079 commented on #628
Do I need to compile using the harder way. If I'm going to train ocr with a new country knowing it's different repo?

[2018-12-19 13:56] alucard079 commented on #628
@AbdallahNasir Do I need to compile using the harder way. If I'm going to train ocr with a new country knowing it's different repo?

[2018-12-19 14:17] AbdallahNasir commented on #628
Sorry @alucard079 , I do not know.

[2018-12-19 14:21] alucard079 commented on #628
have you tried in training ocr of openalpr? @AbdallahNasir

[2018-12-21 01:18] Mega-Touk opened #761 "segmentation fault on openalpr/TesseractOcr"
Hello,
I have a problem running openalpr on my web cam (`/dev/video1`), everytime I turn my camera in front of a license plate the program crash because of a `segmentation fault (core dumped)`

running openalpr seems to work with sample jpg file but not with my standard webcam over french licence plate

I tried both the python binding and the command line utility, even the docker with `docker run

[2018-12-21 08:28] guyingqiong opened #762 "can not run the make command in max os"
did i miss anything ?

make
[ 24%] Built target support
[ 24%] Built target video
[ 24%] Building CXX object openalpr/CMakeFiles/openalpr.dir/ocr/tesseract_ocr.cpp.o
In file included from /Users/yingqgu/openalpr/src/openalpr/ocr/tesseract_ocr.cpp:20:
In file included from /Users/yingqgu/openalpr/src/openalpr/ocr/tesseract_ocr.h:35:
In file included from /usr/local/include/tesseract/baseapi.h:27:
I

[2018-12-21 15:56] alucard079 commented on #543
@TugbaGonultas have you worked with it? Would you help me ?

[2018-12-30 17:50] srlarsen1 opened #763 "openalpr / tesseract installation difficulty (Mac OS Sierra [10.12.16]/ tesseract version issue)?)"
I'm having difficulty getting openalpr installed/ to run.  The error message I'm getting after "installation" is below.  I'm stuck back on Mac OS Sierra (10.12.6 - for other software reasons) and I suspect that's causing problems although my other thought is that it's a version issue with tesseract as my installed files have (ver)4 instead of the 3 mentioned in the error message.

s-macbook-pro:te

[2019-01-02 07:03] srlarsen1 commented on #762
I've got the same thing going on.  Hopefully someone who understands this stuff will chime in.

[2019-01-02 19:33] francofff opened #764 "Python binding does not work with pandas"
Working on a Mac 10.14, install the command-line tool from homebrew.
`alpr --version` returns 2.3.0.
Create a new virtual environment, run `python setup.py install` in `src/binding/python` and then everything works fine.
However, after install pandas using pip (what actually installed are: numpy-1.15.4 pandas-0.23.4 python-dateutil-2.7.5 pytz-2018.7 six-1.12.0), running the same script will result

[2019-01-03 00:33] m22rdy opened #765 "Installation Error on Ubuntu"
When installing on Ubuntu I get the following message and cannot get it to compile:

In member function ‘alpr::AlprFullDetails alpr::AlprImpl::recognizeFullDetails(cv::Mat, std::vector<cv::Rect_<int> >)’:
/home/exell/openalpr/src/openalpr/alpr_impl.cpp:118:31: error: ‘CV_BGR2GRAY’ was not declared in this scope
       cvtColor( img, grayImg, CV_BGR2GRAY );
                               ^~~~~~~~~~

[2019-01-03 21:30] fschaule commented on #383
I wonder since the issue is two years old if is any progress on the issue ? Or is there any workaround ?

[2019-01-04 00:02] Mega-Touk commented on #761
This is working great !
Thanks !

[2019-01-04 00:02] #761 closed

[2019-01-04 07:08] alucard079 commented on #195
Can I feed a stream?

[2019-01-07 21:12] VictorPapyshev commented on #763
I am experiencing the same issue on 10.14 Mojave. When installing with Homebrew and running alpr, I get:

Victors-MBP:~ victorpapyshev$ alpr
dyld: Library not loaded: /usr/local/opt/tesseract/lib/libtesseract.3.dylib
  Referenced from: /usr/local/bin/alpr
  Reason: image not found
Abort trap: 6

[2019-01-08 08:48] johnnypi6 commented on #248
Thank you for your instruction.
I fixed the problem.

[2019-01-08 10:43] alucard079 commented on #660
@sleebapaul Can you make it a realtime using an ip cam?

[2019-01-08 10:47] alucard079 commented on #723
@pawarren Can you make it a real time can you help me about this? I'm about to use this `real time lpr using python/openalpr`

[2019-01-08 14:35] sleebapaul commented on #660
@alucard079 If you can get an RTSP URL from your IP camera, then OpenCV can directly stream it for you. Use `VideoCapture` class.

[2019-01-09 02:15] alucard079 commented on #660
![screenshot from 2019-01-09 10-11-17](https://user-images.githubusercontent.com/28977709/50871626-292a5200-13f7-11e9-9636-5fd88d716930.png)
![screenshot from 2019-01-09 10-13-16](https://user-images.githubusercontent.com/28977709/50871636-30516000-13f7-11e9-985f-c73a475961c1.png)
![screenshot from 2019-01-09 10-13-27](https://user-images.githubusercontent.com/28977709/50871655-39dac800-13f7-11e9-

[2019-01-09 03:04] alucard079 commented on #749
@xtianhb  do you have sample for that? how to pass it on an array? Frame to frame from camera stream?

[2019-01-09 06:46] sleebapaul commented on #660
@alucard079 I've looked into the `openalpr` part for a while, so I'm afraid how much I can help you with new surprises. But for OpenCV part, this is enough.

[2019-01-09 13:56] PowercoderJr opened #766 "Unable to recognize license plates on sample images"
Hi, I have compiled OpenALPR following [the easy way](https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)#the-easy-way) and everything was fine until testing stage. As result I get either "No license plates found" or "Segmentation fault (core dumped)" message:

I'm on Ubuntu 18.04.

[2019-01-09 15:07] alucard079 commented on #660
@sleebapaul  can you help me here in opencv part? I'm done with openalpr, but to make it real time using python I'm having a trouble. Although I got the RTSP Stream. Do you have some sample project that I can look onto?

[2019-01-09 16:39] sleebapaul commented on #660
[code]

[2019-01-10 01:36] alucard079 commented on #660
![screenshot from 2019-01-10 09-31-08](https://user-images.githubusercontent.com/28977709/50940108-8fc47400-14ba-11e9-99c0-34f162887e35.png)
Is it true? I am having an infinite loop

`from openalpr import Alpr
import sys
import numpy as np
import cv2

alpr= Alpr("eu",  "openalpr/runtime_data/config/eu.conf", "openalpr/runtime_data")
if not alpr.is_loaded():
    print("Error loading OpenALPR")

[2019-01-10 12:43] JulienFontaine commented on #274
I ran into the same problem today and I solved this by creating a new stream profile in the axis camera's user interface. This profile can have any setting you want but **it needs**  to have video encoding set as **MJPEG**.

By default, no MJPEG stream profile is available on the Axis camera, only H264 ones. OpenALPR needs MJPEG stream profile, see http://doc.openalpr.com/opensource.html#open-sour

[2019-01-10 12:44] JulienFontaine commented on #340
Just in case someone lands on this thread with the same problem, I found a solution that is described here: https://github.com/openalpr/openalpr/issues/274#issuecomment-453083314

[2019-01-11 12:55] turowicz commented on #131
@matthill this does not work when compiling alpr myslf with `WITH_GPU_DETECTOR=ON`

Error:

[code]

[2019-01-11 12:56] turowicz opened #767 "OpenCV 3.0 and GPU"
I get the following error when compiling Alpr myslf with `WITH_GPU_DETECTOR=ON`

Error:

[code]

[2019-01-11 12:56] turowicz commented on #767
I only have OpenCV 3.x.

[2019-01-11 13:33] turowicz commented on #745
Same issue here, I'm running on .NET Core over Ubuntu and OSX.

[2019-01-11 13:33] turowicz commented on #745
I've imported the C# files into a .NET Core project and I use that as binding. The only missing thing is libopenalprc.so and libopenalprc.Dylib that aren't built from cmake.

[2019-01-11 13:42] turowicz commented on #417
@matthill how are those .NET bindings going?

[2019-01-11 13:51] turowicz opened #768 "Build libopenalprc.dylib on OSX"
I'm trying to get that file in order to use the bindings in .NET Core but I'm unable to compile the project with make in order to get it.

[2019-01-11 13:51] turowicz commented on #768
cc @matthill

[2019-01-11 14:03] turowicz commented on #745
@fchaxel tried on OSX but no luck

[code]

[2019-01-11 14:08] turowicz commented on #745
it does build but I get DllNotFoundException

[2019-01-11 15:07] fchaxel commented on #745
Hi,

For MacOS see https://www.mono-project.com/docs/advanced/pinvoke/
in § macOS Framework and .dylib Search Path

... puts the name to .so like on linux or writes a .config file side the code.

[2019-01-11 15:15] turowicz commented on #745
@fchaxel I'm on Dotnet Core, not Mono. It loads the library but then unloads it for unknown reason.

[code]

[2019-01-11 15:33] turowicz commented on #745
OK found the resolution, needed all of the following files in `/usr/local/lib`

[code]

I missed the `libopenalpr.2.dylib`

[2019-01-14 10:17] turowicz commented on #767
@matthill

[2019-01-16 04:25] hkamran80 opened #769 "Error compiling OpenALPR with make"
[Error on Pastebin](https://pastebin.com/Ub2KKb4u)

Attempting to build/compile OpenALPR for macOS Mojave (10.14.1) on a MacBook Pro resulted in a failure, shown in the Pastebin error linked above.

[2019-01-16 05:16] alucard079 commented on #504
Are you done with this? Are you able to make it work? @N00D13

[2019-01-16 05:19] alucard079 commented on #432
How to run and test alprd? @guenneguezt

[2019-01-16 13:59] eggeggss commented on #447
Excuse me~why is 404 not found?

[2019-01-16 15:45] alucard079 commented on #336
@HDaoud I'm running the `classifychars` but I'm getting an error of `segmentation fault core dumped`

[2019-01-16 16:02] losabio1617 opened #770 "classifying char"
hi can please help i keep having an error this i am training a complete new country code from PH
Usage:
	n		-- Next plate
	p		-- Previous plate
	W		-- Select image and save characters according to OCR results, then go to next image
	s		-- Save characters
	<- and ->	-- Cycle between images
	Ent/space	-- Select plate

Within a plate
	<- and ->		-- Cycle between characters
	[0-9A-Z]		-- Identify a ch

[2019-01-16 16:05] alucard079 commented on #672
@MarCovy did you know this error? `segmentation fault core dumped`. I have copy the au.xml and lau.traineddata and rename it into `ph.xml and lph.traineddata` Because some comments here in groups I need to copy atleast two of them and train on my own (I think it will overwrite them? Am I right?

but in this error did you know how to fix this?

![error](https://user-images.githubusercontent.com/289

[2019-01-16 16:23] losabio1617 opened #771 "training new country plate"
hi Sir i have this error

(test) losabio@losabio-System-Product-Name:~/env/openalpr/src/build/misc_utilities$ openalpr-utils-classifychars ph ./WINPUT/ ./train-ocr/ph/input
Usage:
	n		-- Next plate
	p		-- Previous plate
	W		-- Select image and save characters according to OCR results, then go to next image
	s		-- Save characters
	<- and ->	-- Cycle between images
	Ent/space	-- Select plate

Within

[2019-01-16 19:11] losabio1617 commented on #309
Sir @jkjung-avt  after i copy what should i do??
(test) losabio@losabio-System-Product-Name:~/env/openalpr/src/build/misc_utilities$ openalpr-utils-classifychars ph WINPUT WOUT
Usage:
	n		-- Next plate
	p		-- Previous plate
	W		-- Select image and save characters according to OCR results, then go to next image
	s		-- Save characters
	<- and ->	-- Cycle between images
	Ent/space	-- Select plate

Wi

[2019-01-17 02:31] jkjung-avt commented on #309
Refer the 'classifychars' section in the [documentation](http://doc.openalpr.com/opensource.html?highlight=classifychars).  Otherwise, you might need to read the source code to understand how to use it.

It's been quite a while since the last time I work on openalpr.  I think I'm not be able to provide much more help on this matter.

[2019-01-17 03:03] losabio1617 commented on #309
I already done it sir thanks for the reply i edit na classifychar.cpp with
the following value of arrow keys but i have a new problem , selection of
character to generate ttf i dont know where to select char position

On Thu, Jan 17, 2019, 10:31 AM JK Jung <notifications@github.com wrote:

[2019-01-17 03:45] losabio1617 commented on #309
@jkjung-avt  i have this infinite loop idk where it came from
![screenshot from 2019-01-16 22-43-12](https://user-images.githubusercontent.com/38846946/51294254-270c5880-19e0-11e9-8641-0c0fea25fb79.png)

[2019-01-17 03:58] losabio1617 commented on #309
it keeps looping into 255 that might be cause closing the selection of character

[2019-01-23 11:33] PetarMG-BG commented on #765
You are using OpenCV version 4.
ALPR works only on versions before 4 :)

[2019-01-23 11:36] PetarMG-BG commented on #769
As I see you are using OpenCV 4, ALPR works only on versions before 4.
Try to remove this version, and try with the 3.5

[2019-01-23 21:40] HenryHengZJ commented on #461
@jiazhongchen any solution?

[2019-01-24 07:56] PetarMG-BG commented on #292
Hi guys,
I have a progress about training Austrian plates, but the files that @ghlang provided are with not good quality. Did some one have a traineddata already, or just tif files with better resolution?
I can handle the training, but I'm still not aware how to produce the tif files and also I don't have a big plate pictures pack.

[2019-01-24 13:28] kenken64 opened #772 "openalpr not compiling under ubuntu 18.04"
[ 51%] Linking CXX executable alprd
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/liblept.so: undefined reference to `TIFFGetVersion@LIBTIFF_4.0'
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/liblept.so: undefined reference to `TIFFReadDirectory@LIBTIFF_4.0'
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/liblept.so: undefined reference to `TIFFReadRGBAImageOrient

[2019-01-24 14:55] alucard079 opened #773 "OpenALPR - Running utilities for training which is the “classifychars” and having an infinite loop of “255”"
0

I'm classifying the characters of a plate number using the "classifychars" utility, after running that some window will open like the "Selection Dashboard" and you will choose and highlight the plate number in 3 copies of plate number, then there's something must be open the "Character Selector" But I can't do that because it closes automatically, and I though my keys are correct and there's an

[2019-01-24 18:44] PetarMG-BG commented on #772
Did you install libtiff ?

[2019-01-25 03:34] alucard079 commented on #309
I'm classifying the characters of a plate number using the "classifychars" utility, after running that some window will open like the "Selection Dashboard" and you will choose and highlight the plate number in 3 copies of plate number, then there's something must be open the "Character Selector" But I can't do that because it closes automatically, and I though my keys are correct and there's an in

[2019-01-25 03:34] mrgsdsjg opened #774 "Runtime directory is invalid?"
I can't seem to get commercial SDK to recognize the runtime directory. I am using Java, Eclipse IDE, and commercial SDK with a temporary license.

I have changed the location multiple times, removed spaces from location, shortened location, etc. I always get this error: "--(!) Runtime directory 'D:/Documents/runtime_data' is invalid.  Missing OCR data for the country: 'us'!"

I modified Alpr.java

[2019-01-25 05:45] anjankant commented on #114
1) Open IIS Manager
2) Click on Application Pools
3) Select whatever application pool you are using
4) From right pane, click Advanced Settings...
5) Set Enable 32-Bit Applications to True
   [for more refer this](https://stackoverflow.com/questions/11370344/could-not-load-file-or-assembly-an-attempt-was-made-to-load-a-program-with-a)

[2019-01-25 09:16] alucard079 commented on #772
Are you okay now with this? Ubuntu 18.04? @kenken64  @PetarMG-BG

[2019-01-25 09:18] alucard079 opened #775 "Error Compilling OpenALPR on Ubuntu 18.04 "make""
I just followed the instructions on how to install the OpenALPR in Ubuntu `easy-way`. Please help me on how to fix this issue.

`[ 21%] Built target support
[ 23%] Built target video
[ 51%] Built target openalpr
[ 52%] Linking CXX executable alprd
/usr/bin/ld: warning: libQt5OpenGL.so.5, needed by /usr/local/lib/libopencv_highgui.so.3.4.5, not found (try using -rpath or -rpath-link)
/usr/local/lib

[2019-01-25 09:21] alucard079 commented on #772
I also have this error, how did you fixed this?

[2019-01-25 16:25] mrgsdsjg commented on #774
Also, I should note that java_test does work so I'm not sure why the Main example wouldn't work. However, if I edit java_test to reference an image other than 'us-1' it still only reads 'us-1'.. Not sure if there is an interface issue or if us-1 is hardcoded somewhere else.

[2019-01-25 21:54] hkamran80 commented on #769
How would you suggest I downgrade OpenCV 4 to OpenCV 3.5 using Homebrew? Also, why does ALPR only work on versions below 4?

[2019-01-27 16:38] inactivist commented on #641
Marked as closed, but not sure how to work around this on Ubuntu 18.04.  Manual install w/build from latest sources?

[2019-01-27 20:36] jidma opened #776 "Recognition is too slow on GPU"
When I use CPU for image recognition, I get around 170ms for processing time:

    hardware_acceleration = 0

output:

    OpenALPR Version: 2.6.101
    Image Size: 1024x682
    Processing Time: 181.0862 ms
    Found 1 results
      Plate Number   Confidence
      - 15555A         80.930550
      - 15555          70.359024
      - 155551         68.467613
      ...

With my NVIDIA GeForce GTX 1060

[2019-01-27 21:00] jidma commented on #776
OK it's only for the first recognition the subsequent took atound 10ms.

I guess the GPU needs to warmup.

[2019-01-27 21:00] #776 closed

[2019-01-28 08:52] PetarMG-BG commented on #775
Did you manage to install opencv correctly?

[2019-01-28 09:20] alucard079 commented on #775
@PetarMG-BG Actually, I have a fresh installed ubuntu 18, and followed the instructions of this way.
And I shock in encountering this error, because before I don't meet this error.
https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)#ubuntu-1404

[2019-01-28 14:18] PetarMG-BG commented on #775
@alucard079 I think this error is coming from unsuccessful installation of opencv.
Please repeat sudo apt-get for this libs one by one and return if they are installed:
libopencv-dev
build-essential
libleptonica-dev
liblog4cplus-dev
libcurl3-dev

[2019-01-28 14:32] alucard079 commented on #775
@PetarMG-BG How to do I reset the apps that I installed? Instead resetting my whole linux.

Okay I will do that one by one. Anw, are you using ubuntu 18?

[2019-01-28 17:40] PetarMG-BG commented on #775
@alucard079  yes I'm using Ubunto 18, but I'm not using openalpr anymore.

[2019-01-29 18:01] ripkk commented on #600
@DivisionMax Would you like to collaborate on getting a data-set going?

[2019-01-30 14:00] RichardKuduk commented on #643
Hi, any help would be great. I have installed yarn followed the instructions provided by @bameyrick and got following error:
`pi@raspberrypi:/usr/local/src $ sudo yarn add https://github.com/bameyrick/node-openalpr
yarn add v1.13.0
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
warning "node-pre-gyp@0.6.18" is missing a bundled dependen

[2019-01-30 15:55] alucard079 opened #777 "OpenALPR Producing Tiles from a TTF Font?"
Good morning and have a nice day

How do I figure out all the characters/numbers that could be possibly in a license plate?

Do I need to use the Tiles produced from ClassifyChars or Producing tiles from an Actual Plates? Or Should I input manually using my keyboard every Characters/Numbers to a Word Document? Then Copy it to Text File?

How about the sizes of every character and number?

Please h

[2019-01-30 15:56] alucard079 opened #778 "OpenALPR Producing tiles from a TTF Font"
Good morning and have a nice day

How do I figure out all the characters/numbers that could be possibly in a license plate?

Do I need to use the Tiles produced from ClassifyChars or "Producing Tiles from an Actual Plate"? Or Should I input manually using my keyboard every Characters/Numbers to a Word Document? Then Copy it to Text File?

How about the sizes of every character and number?

Please

[2019-01-30 17:40] alucard079 commented on #461
@rdarioduarte any solution for that?

[2019-01-30 21:59] IvanLjubicic commented on #763
Hi. I have the same issue as @VictorPapyshev
Any news regarding that problem?

[2019-01-31 19:38] mrgsdsjg commented on #774
Found issue to be configuration of build path in eclipse. Now have new issue..

[2019-01-31 19:38] #774 closed

[2019-02-01 05:58] #489 closed

[2019-02-01 13:53] sai-krishna-msk commented on #414
I did not understand the third point could you kindly elaborate,
Thank you

[2019-02-03 16:12] IvanLjubicic commented on #762
Hi guys.
I have the same problem. Any news regarding this one?
I'm running on 10.14.2 Mojave.

[2019-02-05 22:03] DivisionMax commented on #600
@ripkk My team and I decided to build our own model, but I'm open to the idea, how do envision this?

[2019-02-06 03:28] alucard079 opened #780 "Installing Tesseract-ocr for the Train-ocr"
I'm having a trouble in installing tesseract. I've been always encountering the error after using the command `make` in every instruction that I have found on how to install `tesseract-ocr`.

Did someone installed it successfully? If so, can you link to me what instructions that you have follow to make it work?

My issue was the `train.py` cannot find the `tesseract-ocr` though I installed it corr

[2019-02-06 07:54] alucard079 opened #781 "Error in train.py of train-ocr specifying tesseract-ocr"
I have properly installed my tesseract-ocr and directed it where it installed using absolute path. When I run the `train.py` it returns this error.

Two-Letter Country Code to Train: gb
Processing: ./gb/input/luk.uk.exp0.box
Executing: /home/nigel/tesseract-ocr/tesseract -l eng ./gb/input/luk.uk.exp0.tif luk.uk.exp0 nobatch box.train.stderr
sh: 1: /home/nigel/tesseract-ocr/tesseract: not found
mv:

[2019-02-06 07:58] alucard079 commented on #292
@PetarMG-BG I can help you in producing tif and box file I've done that correctly but can you help me too on how to produced the `traineddata` I have installed the tesseract-ocr which I'm facing right now, because when I run the `train.py` it gives me this error.

Two-Letter Country Code to Train: gb
Processing: ./gb/input/luk.uk.exp0.box
Executing: /home/nigel/tesseract-ocr/tesseract -l eng ./gb/

[2019-02-06 19:57] PetarMG-BG commented on #292
I'm using another tool for the generating the traineddata. You can find it here:
http://vietocr.sourceforge.net/training.html

[2019-02-07 00:36] alucard079 commented on #292
But can I use my generated tif and box files for this tool? Or should I start again from the scratch?

[2019-02-07 08:15] PetarMG-BG commented on #292
@alucard079  this tool is working with tesseract, and you can use your already produced files. It's very easy to work with.

[2019-02-07 08:33] alucard079 commented on #292
@PetarMG-BG is it normal that my `z` read as `2`? Can you give me steps on how to that after importing the `tif file'. I training the philippines license plate, I don't think if the OCR language is matter when you training it.

![51737800_536562236834945_8187146202429521920_n](https://user-images.githubusercontent.com/28977709/52399080-14c09e80-2af6-11e9-858e-ac7573a044ed.png)

[2019-02-07 09:49] PetarMG-BG commented on #292
@alucard079 you are looking in the VietOCR, for training you have to open the jTessBoxEditor. Look at tha link that U provide you. There is a complete tutorial.

[2019-02-07 14:14] losabio1617 commented on #292
@PetarMG-BG i also doing new country data ,do i need to train new language from jTessBoxEditor for training philipine plate, i tried to used eng,leu,and eu but the ocr is not accurate

[2019-02-07 19:59] PetarMG-BG commented on #292
@losabio1617  - yes you have to train.

[2019-02-07 20:27] 2006pmach commented on #763
Same here.

[2019-02-07 20:44] srlarsen1 commented on #763
I finally got OpenALPR to work.  I did a ton of other stuff - including nuking my Python install - but I suspect what fixed this particular error message was issuing this command in terminal.

`ln -s /usr/local/opt/tesseract/lib/libtesseract.4.dylib /usr/local/opt/tesseract/lib/libtesseract.3.dylib`

It's a single-line command in case it gets wrapped here so be sure to copy it elsewhere in a singl

[2019-02-07 20:55] 2006pmach commented on #763
Yeah I found that out too, but it just lead to the next issue. I am getting now:

[code]
Did you get that as well?

[2019-02-07 21:14] srlarsen1 commented on #763
@2006pmach  I did.  I think I just searched my system for the "lus.traineddata" file, was able to find it and made a copy in the folder in which it was searching.  I think that came after trying to download and install the "eng.traineddata" (not sure what the "lus" is referring to, anyway) so it might have come through that process.  If you can't locate a copy of the file let me know.

[2019-02-08 02:01] losabio1617 commented on #292
@PetarMG-BG  theres a diff font format that i am training in the ph plate white plate and green plate 0 and 1 of this two plate completely diff each other ,is it possible if i will combine the language that generated from jTessBox or i will make a seperate data for each one

[2019-02-08 02:34] losabio1617 commented on #292
![screenshot from 2019-02-08 10-26-52](https://user-images.githubusercontent.com/38846946/52455654-1b015a00-2b8c-11e9-82fe-d6ce557f68bf.png)
@PetarMG-BG  i just have this error (attached image) i skipped on the Box editor and tiff/box generator because i already have box and tif file from that i generated from openalpr , i copy pasted the pathed of this two --
/home/losabio/Downloads/jTessBoxEdito

[2019-02-08 08:37] alucard079 commented on #292
@PetarMG-BG what if I have two tiff files, can I combine them into one `traineddata`?

[2019-02-08 09:17] losabio1617 commented on #292
@PetarMG-BG
A great thank you!!! im done generating the language data but what if i have two diff format should i create a box and tif with there characters or separate tif and box and combine both of them??

[2019-02-08 09:57] 2006pmach commented on #763
@srlarsen1 Now I don't get any errors any more. Downloaded the "lus.traineddata" from https://github.com/openalpr/openalpr/tree/master/runtime_data/ocr/tessdata
As far as I understand it contains some model weights etc. obtained by training the character recognition system using US plates. The data for other countries can be downloaded there as well.

[2019-02-08 10:08] PetarMG-BG commented on #292
@alucard079 and @losabio1617 - you can combine the two tiffs in one file with some image redactor, and use one of the box files. They have to be the same name.

[2019-02-08 10:12] alucard079 commented on #292
Thanks we can generate now traineddata. However we would like to combine two tif file into one traineddata.

Can I know what is image redactor, do you have some link to that?

Thanks again!

[2019-02-08 10:13] alucard079 commented on #292
Anw, do you solved now on how to generate the box and tif file using openalpr utilities. Losabio can help you out there

[2019-02-08 10:14] PetarMG-BG commented on #292
You can do it with whatever generator you want. I personally now coding another ALPR software. This one is not so accurate and need's a lot of data and hard training process :)

[2019-02-08 11:35] ramosjairo commented on #558
пожалуйста, кто может помочь мне читать русские номерные знаки.

[2019-02-09 09:37] papilou86 opened #782 "Where to find openalpr.dll"
For some time, I'm trying to use OpenAlpr.

I am running windows10 PRO, 64 bit
I found and download openalpr-2.3.0-win-64bit.zip.
I launched the installation everything went well, it works well in command line Windows (CMD).

Now I am looking to compile the following program:
[code]
I compile it with the following command
`g++ -Wall -mwindows -LC:\Users\JeanLouis\Desktop\openalpr_64 -IC:\Users\Jea

[2019-02-12 00:56] akaanirban opened #783 ".."

[2019-02-12 21:07] hatamiarash7 commented on #461
@alucard079

Check your Python version and OpenALPR version to be same architectures

Install python 64-Bit and use 64-Bit version of library. It will work

[2019-02-13 13:03] uslu16 opened #784 "OSError: Unable to locate the OpenALPR library."
Hello All, I am using 32 bit anaconda installation and installed 32 bit package.
alpr is working good with comment line and also python_test.bat working very well.
but i getting below issue when i import to library to a juypiter notebook.
Where i am missing couldn't find. I would appreciate your support, thanks in advance.

`-------------------------------------------------------------------------

[2019-02-14 01:03] #783 closed

[2019-02-15 10:18] maarten-mulder commented on #638
@stevegdavis  Do you still have the 'libopenalprc.dll' file, by any chance?

I've tried to do the process you suggested, but my C++ knowledge atm is preventing me from solving the tons of compile errors I'm getting. It would be awesome if you could somehow share this!

[2019-02-16 02:22] alucard079 commented on #293
@reza4836 You can use your tif and box file with other tools to produce `traineddata`

[2019-02-16 02:26] alucard079 opened #785 "alpr -j command with an IP Camera/stream"
Good day sir and maam, is it possible to use the `alpr -j <rtsp stream or ip stream> and return some json? Because I'm about to recognize a plate from a video stream, then I will insert the detected plate into my database.

or should I go stick with this?

`https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)#a-readme-to-real-time-license-plate-detection-with-openalpr-

[2019-02-16 20:49] soufianesabiri commented on #738
I have ran the setup.py but I still get the error :

Please help!

[2019-02-18 09:28] stevegdavis commented on #638
@maarten-mulder Try this zip
[libopenalprc.zip](https://github.com/openalpr/openalpr/files/2874850/libopenalprc.zip)
.

[2019-02-19 17:45] naisergic commented on #762
+1
running High Sierra 10.13.6

[2019-02-20 04:34] losabio1617 commented on #292
yeah i just use paint also,, is there a way to combine two diff language trained data i already generate one for the white plate in ph and the accurancy is good i want to merge it once i finish the green plate data,, we tried some application to merge  diff data but the ocr have some output of small letters, i rechecked the tif file that i used and all letters are capitals do u know whats is the r

[2019-02-20 12:16] mateok0 commented on #717
I'm pinching. Do you have an idea for an idea? Did you manage to solve?

[2019-02-20 15:10] abozanona commented on #629
It looks like openalpr for android works only for files, There isn't a way to work directly with images without the need to store them in a file.

[2019-02-21 14:43] maarten-mulder commented on #638
Thank you! Unfortunately I haven't been able to get it working, because it seems that still some dependencies of libopenalprc.dll are missing. I tried to work it out with Dependency Walker, but that gave me all kinds of circular dependency errors and whatnot.

Instead, I managed to get OpenALPR version 2.3.0 working (in a .NET console applicaiton) by doing the following:

- Download the [compiled

[2019-02-21 16:02] alucard079 commented on #761
@calfax I have encountering this problem too, in running the openalpr with Ip stream/realtime. I installed the `easy-way`. What do you think will fix this issue? Please help me. It will run for a moment, then I will automatically close displaying the `segmetantion fault core dumped`

[2019-02-21 16:11] alucard079 commented on #707
I can work with that @tajition.  But I'm encountering, it can detect some of my plate, but then after a seconds it will automatically close. Then the
"segmentation core fault dumped" will appear on my terminal. I do running it using python integration with opencv to make it real time.

[2019-02-21 16:13] alucard079 commented on #660
@sleebapaul I have my code now in running this. But it will run for a moment and will detect my plate number. But then suddenly it will automatically close. Printing the `segmentation faut (core dumped)` on my terminal.

[2019-02-21 16:19] alucard079 commented on #292
@PetarMG-BG Sir, do you tried running the alpr with ip camera? to make it realtime maybe using the "alpr -j" command or python integration using opencv?

[2019-02-22 15:19] smallworld-network-wupeng commented on #762
10.14.3

[2019-02-22 23:36] soufianesabiri commented on #487
Have you found a solution? Please help!

[2019-02-23 15:19] soufianesabiri commented on #771
Hi,
Please where can I find openalpr-utils-classifychars.exe ?

[2019-02-23 19:53] ArturRog commented on #717
I'd also like to know if you found any solution!

[2019-02-23 20:30] gkieninger commented on #292
Hallo!
I am also interested to improve OpenALPR for Austrian Plates. If I can help please tell me and on the other Hand I would be happy to get the result.
Trank you

[2019-02-25 12:36] ali97hz commented on #707
same error

[2019-02-25 12:55] soufianesabiri opened #786 "Arabic Letters Cropped with openalpr-utils-prepcharsfortraining"
When I run `openalpr-utils-prepcharsfortraining` I get some letters cropped (like the dot in ب for example). How to fix this problem? https://imgur.com/a/b9WZbjj

[2019-02-25 13:10] soufianesabiri commented on #786
I checked https://github.com/openalpr/openalpr/blob/master/src/misc_utilities/prepcharsfortraining.cpp

I think there are some modifications to be made, to the crop and resize part...

[2019-02-26 17:52] Xtragate opened #787 "Cannot detect License Plate"
Is there any setting in the .conf to detect license plates where the edge is black?
I ran into a case where it cannot detect the license plate due to a black frame.
![blackframe](https://user-images.githubusercontent.com/3720281/53434826-449feb00-39ac-11e9-85f1-da9794f18357.png)

Thanks,
Kevin

[2019-02-26 19:15] Xtragate commented on #785
Yes, -j will output the json to command line.
You can do something like: alpr -j > someFile.json, if you want to output it to a file to then parse.

[2019-02-26 22:26] alucard079 commented on #785
Can you give me a sample code with that. I have already tried it but it returns to me "unknown file type"

[2019-02-27 18:13] Xtragate commented on #785
Try the below replacing your paths / filenames:
alpr "C:\Users\alucard079\Documents\test.jpg" -j > test.json

[2019-02-28 03:26] alucard079 commented on #785
Here's my sample code
![screenshot from 2019-02-28 11-26-27](https://user-images.githubusercontent.com/28977709/53539240-b95d5b80-3b4b-11e9-8c9e-b9768f705fd5.png)
![screenshot from 2019-02-28 11-26-47](https://user-images.githubusercontent.com/28977709/53539246-bfebd300-3b4b-11e9-864e-ff47257f6dd9.png)

[2019-02-28 04:39] alucard079 opened #788 "How to compile the gpu detector and enable lbpgpu in config file"
Anyone has an experience on how to enable it and compile it? Could you help me to compile it and enable it. Currently, I'm using an "easy way compilation" with ubuntu 18.

Thank you in advance

[2019-02-28 04:40] alucard079 commented on #767
any luck with this? @turowicz

[2019-02-28 04:45] alucard079 commented on #723
@nixbpe  @pawarren  can you help me on how to compile it and enable it. I'm using right now the realtime opencv in python.

[2019-02-28 08:49] turowicz commented on #767
@alucard079 nope

[2019-02-28 21:43] Xtragate commented on #785
If you are going to run the alpr command from your python script, you can use subprocess, so import subprocess.
![image](https://user-images.githubusercontent.com/3720281/53600619-d4859680-3b5e-11e9-9c4c-c0cd81340813.png)

Then you can do:
![image](https://user-images.githubusercontent.com/3720281/53600638-e36c4900-3b5e-11e9-82aa-ee5dae4284de.png)

[2019-03-01 23:00] memoricab commented on #641
Below path correction solved the problem for me,

` export TESSDATA_PREFIX=/usr/share/openalpr/runtime_data/ocr/`

tesseract version

 leptonica-1.78.0
  libjpeg 8d (libjpeg-turbo 1.4.2) : libpng 1.2.54 : libtiff 4.0.6 : zlib 1.2.8

[2019-03-02 21:41] memoricab commented on #533
TBH not a nice solution but,

If you don't use recognize_ndarray; removing it from the source code worked for me as @r1me mentioned.
Because I used easiest way to install alpr libraries and I found that it was not updated as git master so there was missing function.

[2019-03-04 06:03] alucard079 commented on #785
I'm new with the python, can you help me on how to relate that in my current code? anw thank yu @Xtragate

[2019-03-04 19:50] moeiscool commented on #761
@alucard079 fix is to run
[code]

then reinstall tesseract via apt (if you are ubuntu)

[2019-03-06 02:02] jerrychong25 commented on #358
Hi @hanzhawary,

Same here.

I would like to know too :)

[2019-03-06 02:02] jerrychong25 commented on #460
Same question here.

[2019-03-06 09:20] jerrychong25 opened #789 "OSError: Unable to locate the OpenALPR library when running python_test.bat"
Hi all,

I have installed **Python 3.7.0 (64 Bit)** and **OpenALPR (64 Bit)** in my **Windows 7** PC, according to answers from [Install Openalpr in Windows python - Stack Overflow](https://stackoverflow.com/a/43454945/5918539)

However, I unable to run **python_test.bat** successfully, as per screenshot below:
![image](https://user-images.githubusercontent.com/15714095/53869527-60059880-4033-11e9

[2019-03-06 09:22] jerrychong25 commented on #461
Hi @hatamiarash7,

I faced similar issue (https://github.com/openalpr/openalpr/issues/789) as per this issue.

However, in my case, both Python and OpenALPR are in x64 version.

Could assist on this?

Thanks.

[2019-03-06 20:57] Hildebrand commented on #762
Yes, I've got the same issue while following the brew installation instructions, so while running the `brew install openalpr` command.

[2019-03-06 23:27] bharls commented on #658
easy install fails on macOS Sierra 10.12.6

==> cmake .. -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/openalpr/2.3.0_1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_FIND_FRAMEWORK=LAST -DCMAKE_VERBOSE_MAKEFILE=ON -Wno-dev -DCMAKE_MACOSX_RPATH=true -DCMAKE_I
==> make install
Last 15 lines from /Users/macmini/Library/Logs/Homebrew/openalpr/02.make

[2019-03-06 23:49] bacvothanh commented on #227
Hi @pandapo411 , @vanloc0301  Did you finish the training yet? If yes, could you share it for us?

[2019-03-07 02:07] bharls commented on #658
fails too - Build the package (Instructions for compiling on OS X, tested on OS X 10.12.5. macOS Sierra)

macmini:~ macmini$ git clone https://github.com/openalpr/openalpr.git
Cloning into 'openalpr'...
remote: Enumerating objects: 8831, done.
remote: Total 8831 (delta 0), reused 0 (delta 0), pack-reused 8831
Receiving objects: 100% (8831/8831), 5.59 MiB | 527.00 KiB/s, done.
Resolving deltas: 100

[2019-03-08 16:57] Hildebrand commented on #762
ok, I've succeeded in compiling openalpr myself instead. On the mac the instructions nowadays need slight tweaking as follows:

brew install tesseract opencv@3 log4cplus
git clone https://github.com/openalpr/openalpr.git
cd openalpr/src
mkdir build
cd build
export OpenCV_DIR="/usr/local/opt/opencv@3/"
cmake .. -DCMAKE_INSTALL_PREFIX:PATH=/usr/local -DCMAKE_INSTALL_SYSCONFDIR:PATH=/etc -DCMAKE_MACO

[2019-03-10 15:04] jerrychong25 opened #790 "Support of Malaysia car plates and car models?"
Hi,

May I know if openalpr now official supports recognition of Malaysian car plates and Malaysian car models?

Thanks.

[2019-03-11 04:21] GTHell commented on #790
I think you need to train the alpr yourself. Refer to this [link](https://github.com/openalpr/train-ocr) for more about how to train your own OCR.
I'm from Cambodia and I find the US template just find 95% of the time. Maybe you can try different template from EU to US and see how it detect before trying to train your own OCR and recognition.

[2019-03-11 09:27] jerrychong25 commented on #790
Thanks for the advices.

I will give it a try.

Just curious, how long do you took for training your own alpr?

[2019-03-11 17:36] GTHell commented on #790
I've tried and give up. You need to gather a lot of data (license plate) for recognition and the OCR require specific font that uses by the license plate for training. None standardize fonts uses in license plate for your country and mine is the big reason that I think it's hard to train the OCR.

I've gather around 400-600 license plate in just one day (lurking around parking lots) but the proces

[2019-03-12 00:53] jerrychong25 commented on #790
Thanks for the advice.

Will look into it.

[2019-03-12 13:38] oriolrg opened #791 "Alprd store plates in two folders"
Is it possible to store the images generated by alprd in two different directories at the same time?

[2019-03-12 15:29] macxpert1 opened #792 "Issue running openalpr daemon alprd -f in ubuntu 18.04"
When running open alprd i get an error and i'm unable to fix it. Can you please provide an idea of what the problem is?

alprd -f
INFO - Running OpenALPR daemon in the foreground.
INFO - Using: /etc/openalpr/alprd.conf for daemon configuration
Missing config value for company_id
Missing config value for pattern
INFO - Using: /var/lib/openalpr/plateimages/ for storing valid plate images
INFO - coun

[2019-03-13 03:36] alucard079 commented on #790
@GTHell Did you know how do I improve the ocr of a plate? I'm also training my plate in OCR. but i'm encountering a problem, it looks like it's very hard to train this kind of plate number.

![ph_VDL-404](https://user-images.githubusercontent.com/28977709/54252017-3ba24280-4584-11e9-9d0d-077f1158f7e7.jpg)

[2019-03-13 11:47] klim42 commented on #558
hello, can you help me please

[2019-03-13 11:50] RainGrid commented on #558
@klim42, what is Your question?

[2019-03-13 12:18] klim42 commented on #558
i install https://github.com/RainGrid/openalpr_ru_runtime but he does not recognize the plates

[2019-03-13 12:21] klim42 commented on #558
Установил конфиг по ссылке выше, не распознает...

[2019-03-13 12:25] RainGrid commented on #558
Пока этот репозиторий просто для хранения нужных ресурсов, я несколько раз правил конфиг и, возможно, залил не лучшую версию. Однако даже с хорошим конфигом алгоритмы библиотеки плохо подходят под российские номера с частью региона. Нужно либо править исходники, либо придумать хитрый конфиг, либо использовать другие решения.

[2019-03-14 10:21] arh24 commented on #376
Hi
I also have @aminzadenoori problem, I did change the runtime and config file mentioned for korea which is also included in last version of openalpr.
appreciate it if you could help @vladimirr0708982

[2019-03-19 02:26] Burand05 commented on #762
Wow, that worked for me. Thanks so much @Hildebrand!

[2019-03-20 00:57] Burand05 opened #793 "Set province/state in python"
Is it possible to set a province or state using for alrp in python? I have seen several references (example [here](https://github.com/openalpr/openalpr/issues/296)) mentioning the two character state abbreviation, but I cant figure out how to set this in python.

Thank you.

[2019-03-20 02:22] Burand05 commented on #793
I found it. It seems that `alpr.set_default_region("ca")` is the ticket.

[2019-03-20 02:22] #793 closed

[2019-03-23 15:02] jonj27 commented on #407
I would also like the config files if anyone has them... jj@noobon.com

Thanks in advance

[2019-03-25 13:09] inactivist commented on #707
Pass the `--debug` flag.

Here's the output from my Ubuntu 18.04 X64 machine, with a bunch of scoring messages deleted.
[code]

[2019-03-25 13:21] inactivist commented on #707
Possibly related to #761

[2019-03-26 07:42] yucolabjames commented on #70
Seems like the OCR db cloned from the github repo has trouble with the HK license plate.

This is the command I tried

[code]
But using the Cloud API, it works!

![© All Rights Reserved Taken on: July 14, 2017 by Jamie Lloyd](https://user-images.githubusercontent.com/40826198/54979211-889f0380-4fdd-11e9-8aec-76be1fa37bb7.jpg)

[2019-03-26 13:20] squiggleuk commented on #407
@VinylCarbon - maybe you could share config here, so all can benefit?

I've also added https://github.com/openalpr/openalpr/pull/794 which has more accurate patterns for the various types of uk registrations

[2019-03-27 03:07] jerrychong25 commented on #789
Any updates on this issue?

Thanks.

[2019-03-27 13:43] squiggleuk commented on #435
would love to see it in alprd!

[2019-03-30 18:54] Burand05 commented on #476
I'm experiencing this as well. I would be curious what causes this. Did you ever get it resolved?

[2019-03-30 20:41] kevinjpetersen commented on #476
@Burand05 It's been quite a while, so I can't remember 100%, but from what I do remember is that it can be because of the rotation of the image when captured on a mobile phone. Some phones (Samsung in my case) did a weird rotation on the image, making it try to recognize it with a 90 degree rotation which obviously wouldn't work, I fixed it by doing a manual rotation after capturing it based on if

[2019-03-30 21:00] Burand05 commented on #476
Thanks for following up @kevinjpetersen . I'm new to java, so i'm struggling to get the rotation code from [here](https://stackoverflow.com/questions/29971319/image-orientation-android/32747566) working working effectively. I'm getting results, but they are quite off. If you're able to share the code you implemented, it would be greatly appreciated. If it's too much work or you don't have it, I'm

[2019-03-31 15:33] geyungjen opened #795 "Ubuntu 18.04, cmake error: Required library Tesseract NOT FOUND"
I have built following from sources successfully, ***not from apt install***:

opencv 3.2.0
Leptonica 1.79.0
tesseract 4.1.0-rc1-184-g497d

OS is Ubuntu 18.04
But cmake failed with:

CMake Error at cmake_modules/LibFindMacros.cmake:74 (message):
  Required library Tesseract NOT FOUND.

  Install the library (dev version) and try again.  If the library is already
  installed, use ccmake to set the

[2019-04-02 03:28] marcoslucianops opened #796 "Better packages for OpenALPR"
What's is the better (performance) versions of packages of OpenALPR?

Lastest versions: OpenCV 4.0.1 + Tesseract 4.0.0 + Leptonica 1.77.0?
Recent versions: OpenCV 3.4.5 + Tesseract 3.05.2 + Leptonica 1.77.0?
Github versions: OpenCV 2.4.8 + Tesseract 3.0.4 + Leptonica 1.70?
Doc. versions: OpenCV 2.4 + Tesseract 3.02.02 + Leptonica 1.70?

Is there any difference in performance between them?

[2019-04-02 13:12] theDeepanshuMourya commented on #660
Can you please let me know that in which file should I make this change?

[2019-04-04 07:47] aniethomas commented on #346
hi matt , am trying to train ocr but instead of training 4173 only 881 traineddata is generated. please help to get the trained data for entire words

[2019-04-04 07:48] aniethomas commented on #346
@matthill help me

[2019-04-04 14:14] evgdobr opened #797 "kr2 not works"
hi!

have next issue with kr2 country:

alpr -c kr2 /home/evgdobr/dataset/27.png
read_params_file: parameter not found: enable_new_segsearch

does anyone know how to fix it?

[2019-04-04 18:17] kltzdsgiorgos opened #798 "Runtime_data does not existPlease update the OpenALPR config file to point to the correct location of your runtime_dir"
I am using Windows 10, openalpr 64 bit and python 64 bit as mentioned in similar problems.
alpr = Alpr('eu', "D:\openalpr\openalpr.conf", "D:\openalpr\runtime_data") locates the config file but fails to load the runtime_data
I tried to change the openalpr.conf file and set the runtime_dir to my location but still the same error

[2019-04-05 10:41] JamesSmith2 commented on #792
You need to use different libtesseract: https://launchpad.net/~alex-p/+archive/ubuntu/tesseract-ocr?field.series_filter=bionic

[2019-04-05 11:50] evgdobr commented on #797
i had re-build tessract using tag(version)  3.04.01 and now problem solved :)

[2019-04-09 02:53] danielkornev commented on #761
Didn't really help. That lp.jpg file one downloads by following the Compiling Instructions still leads to "Segmentation Fault (core dumped)" error message.

[2019-04-09 02:56] danielkornev commented on #707
still an issue:
https://www.facebook.com/notes/daniel-kornev/building-openalpr/2775377165836593/

[2019-04-09 04:18] calfax commented on #795
This might seen obvious but did you add your tesseract source directory to your $PATH env variable?
In linux, many times you have to tell the $PATH which directory to look for that program in.

`export TESSERACT_PATH=/path/to/tesseract/source`

Another thing is to check your CMakeLists.txt file and add these lines:

[code]
you can also manually pass the directory as a cmake command line parameter

[2019-04-09 04:33] calfax commented on #761
man page says:
[code]
Try to turn on the debug options and see if that gives you more information.

[2019-04-10 20:50] #796 closed

[2019-04-10 21:00] marcoslucianops opened #799 "Odroid XU4 vs Raspberry Pi 3B"
I have OpenALPR in my Rapsberry Pi 3 B but the performance is too slow. Is Odroid XU4 more powerful? How many percent approximately? The investment is worth?

[2019-04-10 22:57] ailuropoda0 commented on #674
Same error

[2019-04-13 01:05] lummish commented on #658
Not sure if this will help anyone, but I was able to solve my compilation issues by manually specifying the C++ std used in compilation. Instead of the `cmake` step provided in the docs, try this:

[code]

That being said, I received some different error messages:

[code]

[2019-04-14 02:28] cpknight commented on #762
@Hildebrand's solution worked for me as well.

[2019-04-14 02:32] cpknight commented on #658
In another thread @Hildebrand noted that OpenALPR requires OpenCV 3 and not 4; his build solution worked for me after removing 4 and forcing 3.

cf. [https://github.com/openalpr/openalpr/issues/762](https://github.com/openalpr/openalpr/issues/762)

[code]

[2019-04-15 01:05] XiminLin commented on #707
1p.jpg is not a us license plate.... I tried several us license plate images and it works.

[2019-04-15 10:14] BahadirGLCK commented on #589
Did you solve? Can you explain if you solved?

[2019-04-16 17:18] diegguinholima commented on #310
I'm trying to use the recognition function for 2-line plates, but it does not work correctly. I'm using the br2.xml file that would be for Brazilian plates. Someone has some advancement in the recognition of plates with 2 lines??

[2019-04-17 11:39] diegguinholima commented on #606
@psybox @sandropf  Vocês conseguiram fazer funcionar a detecção de placa de moto? No meu caso só consigo se a placa estiver bem próxima, e mesmo assim não pega a placa corretamente, na maioria dos casos detecta apenas os números.

[2019-04-18 11:06] sherycoder opened #800 "Connect a ip camera stream in vb.net"
Can any one tell me how can i change a vb.net project of alpr to capture video from ip camera not webcam

[2019-04-19 04:27] JACKHAHA363 commented on #628
Also encountering this problem

[2019-04-23 07:42] ocrguy opened #801 "State Recognition"
HI

What is the process for US state recognition from the number plate?

Should i train the number plate for state recognition?

Can you explain more about state recognition using openalpr.

Many Thanks

[2019-04-24 09:17] zhouhao27 commented on #698
@theDeepanshuMourya I did some training with the [train-detector](https://github.com/openalpr/train-detector)

[2019-04-24 09:21] theDeepanshuMourya commented on #698
https://github.com/openalpr/openalpr/issues/698

@zhouhao27 I'm also trying to train the openalpr train-detector for multi-line Indian number plates. So can you please tell me how many minimum images are required for good accuracy of plate detection and what all were the parameters that you changed in the .conf file for multi-line detection.

[2019-04-25 14:40] tom6785 opened #802 "Multicore not used by openalpr"
I am having an issue using multi core processing in openalpr. I tried compiling the opencv with openmp support. I am using an i5 laptop but it taking one second for one frame. I checked the cpu usage and found only one core is using. Please give suggestions to imporve the speed or how to use multicore processing using openalpr
![Selection_001](https://user-images.githubusercontent.com/49988174/567

[2019-04-26 18:25] maxegghead commented on #407
Hi there I'd also be very interested in GB config files if you can help ?

[2019-04-29 12:26] guidgaro opened #803 "openalpr - alprd error: Invalid UE Golomb code"
I've followed 'The Easy Way' install instructions to compile openalpr.
But, if I launch alprd with a stream url (that works fine in vlc) in alprd.conf I get the following error message: **Invalid UE golomb code**. What's the problem? Maybe, opencv?

[2019-04-29 12:38] DmitriiCM commented on #761
I can confirm: building Tesseract Release 4.0.0 from source and installing solved the problem.

Source: https://github.com/tesseract-ocr/tesseract/archive/4.0.0.tar.gz
Compile:
[code]

[2019-04-29 15:12] DmitriiCM opened #804 "Different results on different platforms"
Hi all,

Just for information, the same openalrp library, run on Ubuntu desktop and Raspberry Pi.

Ubuntu:
**alpr -c eu lp01.jpg**
plate0: 10 results
    - IH786P0J	 confidence: 89.0221
    - H786P0J	 confidence: 87.4842
    - HH786P0J	 confidence: 85.2194
    - UH786P0J	 confidence: 84.6511

**tesseract -v:**
tesseract 4.0.0
 leptonica-1.75.3
  libgif 5.1.4 : libjpeg 8d (libjpeg-turbo 1.5.2) : li

[2019-04-29 15:23] pawap90 commented on #572
I'm experiencing a similar issue. Did you find a solution?

[2019-05-02 12:57] harshsp31 opened #805 "Vehicle Make and model"
How to enable vehicle make and model detection in open source?

[2019-05-02 19:19] warpdriv opened #806 "error: package directory 'openalpr' does not exist"
Hi,

After downloading 2.3.0 of github and running python\setup.py install, I get the following error. I searched/read many articles trying to this working and would appreciate some help.

(licenseplate) C:\Users\somone\Downloads\openalpr-2.3.0-win-64bit\openalpr_64\python>python setup.py install
running install
running build
running build_py
error: package directory 'openalpr' does not exist

I'm

[2019-05-03 03:17] neumartin commented on #459
@fedemarino37 Have you done it?
I need Argentina plates recognition too.
Thanks!

[2019-05-03 14:13] warpdriv commented on #527
I'm getting the same error on Ubuntu 16.04, alpr 2.2.4 after following the instructions.

$ alpr -c us ea7the.jpg

alpr: error while loading shared libraries: libopencv_highgui.so.2.4: cannot open shared object file: No such file or directory

Please advise. Thank you for your help.

[2019-05-06 08:13] trikonz commented on #373
we have this working very well on locally hosted

[2019-05-06 16:06] mcourter commented on #620
I get a lovely 404 error

[2019-05-06 21:30] danielfaulknor commented on #373
@trikonz care to elaborate on how?

[2019-05-07 04:19] brunofenas commented on #124
Vocês conseguiram fazer rodar com os arquivos br.xml ?
OpenALPRInstance = new OpenALPR(this.Activity, AndroidDataDir, OpenALPRConfigFile, "br", "");
 ?

[2019-05-08 01:40] JohnPetter2 opened #807 "Plate Brazil mercosul pattern"
Hi,

Is anyone using openalpr successfully for the new plate in Brazil? MERCOSUL(LLL-NLNN)

Best Regards
John Petter

[2019-05-08 21:06] CarltonSemple commented on #760
I'm having the same issue on Ubuntu 18.04

[2019-05-09 17:24] karborator commented on #692
on which version is fixed ?

[2019-05-09 17:30] karborator commented on #692
I get this error in syslog on 18.04 ubuntu:
`May  9 17:28:39 vagrant kernel: [ 2753.296331] alpr[3939]: segfault at 8 ip 00007fa738a3f568 sp 00007fff5e81d938 error 4 in libtesseract.so.4.0.0[7fa738988000+30d000]
`

[2019-05-11 12:55] PabloGh91 commented on #720
I am now in exactly the same problem that you had. If you have managed to solve it, you would be as kind as to indicate how. Because I have tried the solution of Xtianhbpero, even though it keeps giving me errors that I can not solve.
![image](https://user-images.githubusercontent.com/46853607/57569952-caa0cf00-73fc-11e9-8d53-670968aae56c.png)

[2019-05-12 11:11] arjunnambiartc opened #808 "alpr_video: command not found"
I am running Ubuntu 16.04 and have successfully installed openalpr using the steps provided [here](https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux))(Easy Way). The image recognition is working flawlessly and when I pass an image to the command line function, it gives me the desired output as follows:
`ubuntu@ip:~/openalpr/src/build$ alpr lp.jpg
plate0: 8 results

[2019-05-14 03:34] Speakkk opened #810 "Kazakhstan plates recognition"
Hello everyone! I try to train recognition for new country - Kazakhstan. I can't make kz.xml cuz of errors in crop_plates.py(train-detector). Are there anyone who train recognition for Kazakhstan?

[2019-05-14 16:52] psybox commented on #606
sim, mas como mencionei ele da um erro e para o programa apos algum tempo.

[2019-05-15 04:37] DhanishVijayan commented on #627
Added the following in detectorcuda.h under #ifdef COMPILE_GPU

#include <stdio.h>

Now compilation is successful

[2019-05-15 12:40] robster0326 commented on #802
Add this line : "analysis_threads = 2" to openalpr.conf. This means that 2 cores will be used.

[2019-05-16 21:12] geoffrey-vl commented on #692
@karborator

On Ubuntu 18.04 LTS I've fixed this using PPA / packages from  [notesalexp.org](https://launchpad.net/~alex-p/+archive/ubuntu/tesseract-ocr?field.series_filter=bionic).

[code]

[2019-05-20 03:49] tbmreza commented on #516
Hello is this issue closed? Do you mind sharing your **lid.traineddata**? 🙏

[2019-05-21 13:35] guillerial commented on #345
Is there any update on this issue? This is happening to me too. Sometimes the images are not being stored.

Thanks.

[2019-05-21 13:43] elementzonline opened #811 "Tesseract Issue in Ubuntu Bionic"
I installed openalpr using the following command

sudo apt-get install openalpr openalpr-daemon openalpr-utils libopenalpr-dev

I am using the following command on the Ubuntu Bionic

alpr filename2019-04-06_16_55_07.780321.h264.mp4

Error opening data file /usr/share/openalpr/runtime_data/ocr/lus.traineddata
Please make sure the TESSDATA_PREFIX environment variable is set to your "tessdata" direct

[2019-05-22 07:59] guillerial opened #812 "Can't download some arbitrary images."
Hello, when I try to download some images I can see this in alprlink.log:

[code]

Actually, the images that in the log have readstatus: 1 are the images that I can't download.
Does someone know why is this happening to me?

[2019-05-22 19:57] safiafida commented on #570
i am working on training the openalpr for UAE number plates. i am actually following these steps too and i am stuck on step 2. @aarelovich can you please help me out as i am running out of time. contact me on safia.fida19@outlook.com as soon as possible. PLEASE.

[2019-05-22 20:59] AT0myks commented on #806
I'm not familiar with anaconda but I got it working with just Python on Windows :
- add the openalpr_64 directory to the path (I put it in the user variables Path, from your example you should add `C:\Users\somone\Downloads\openalpr-2.3.0-win-64bit\openalpr_64`)
- restart the computer
- download the source code as a zip from [https://github.com/openalpr/openalpr/releases](url)
- unzip it somewhere

[2019-05-23 07:26] sowhatdoido opened #813 "Windows AgentALPR Agent: Data Destination"
I'm a little unclear on how the data destination settings work, specifically the `Other HTTP Web Server` option. I noticed that if I use the cloud api setting, the webcam comes on and starts detecting license plates right away, but if I change the data destination to http://localhost:3000, which is an express server that just prints POST statements, the camera never comes to life and nothing is po

[2019-05-25 11:26] isaactoes commented on #811
The problem is that is trying to get the locales from /usr/share/openalpr/runtime_data/ocr/ but I don't know why in this version the locales are located in a subfolder called tessdata.

You can solve this performing a copy of all the files inside the folder tessdata. Code:
`sudo cp -r /usr/share/openalpr/runtime_data/ocr/tessdata/* /usr/share/openalpr/runtime_data/ocr/`

I hope it helps.

[2019-05-25 19:16] isaactoes commented on #660
Thank you very much, you have solved all my problems.

[2019-05-25 23:16] SouzaRDG commented on #748
Helo,
have you solved your problem? I'm having issues with motorcycles too.
Tried some modifications on br2.config, but with no luck...

heres the some of the images I've tried:
![m01](https://user-images.githubusercontent.com/33104876/58375461-daa2cd80-7f29-11e9-9c7c-569e86f13f7b.jpg)
![m02](https://user-images.githubusercontent.com/33104876/58375463-e68e8f80-7f29-11e9-831d-2130140ec7b3.jpg)

[2019-05-26 07:34] Milad-PC commented on #376
@soroush Can Give us your source Code to  recognition a plate ?

[2019-05-26 22:56] FlorianHergo opened #814 "PYTHON : ImportError: No module named 'alprstream'"
hi,

[code]

but :

from alprstream import AlprStream
ImportError: No module named 'alprstream'

Using :

Using OpenALPR 2.3.0

[2019-05-27 10:40] FlorianHergo opened #815 "French plate recognition (News and Old)"
Hi,
Can you confirme the best parameter for French plate :

1° alpr = Alpr('fr', 'openalpr/runtime_data/config/fr.conf', 'openalpr/runtime_data')
2° alpr = Alpr('eu', 'openalpr/runtime_data/config/fr.conf', 'openalpr/runtime_data')

On full video of plates my script is better return in 1°.

For :

3° alpr.set_default_region("fr")
4° #alpr.set_default_region("fr")

I do not feel that there are any

[2019-05-29 18:04] Rodricity commented on #631
I've been experiencing the same problem. So far has not managed to avoid the different errors which may raise when trying to run multiple instances of Alpr in parallel.

I've tried to isolate the OpenCV initialization by instanciating a dummy Alpr instance at Main and then disposing it, yet some errors still raise while trrying to detect plates.

Did you found any solution?

[2019-05-29 23:14] ravirajcm commented on #127
Any updates on adding Canadian license plates?

[2019-05-30 04:13] Jake-01 commented on #373
@trikonz I'm also after the nz.conf, would be great to know where to find it

[2019-05-30 21:57] Jake-01 commented on #373
@chriswiggins how'd you guys get on? I'm aware it's been a while since you where working on it but if it's still being worked on do you need a hand?

[2019-05-31 12:26] Plorax commented on #129
Hey guys, anyone on here done an embedded LPR app for Hikvision ? Please drop me a line

[2019-05-31 12:53] TurboTux commented on #551
Também estou com essa dificuldade. Não achei nenhum dataset ainda pra treinar o modelo brasileiro, mas acho que especificar @@@-XXXX (segundo a documentação) já ajuda a diminuir os erros de reconhecimento (tipo 0 e O, 1 e I).

Onde acho esse XML?

[2019-06-01 15:26] AT0myks commented on #814
Do you have a license? You need one to use the AlprStream API.

[2019-06-05 19:19] kb9fcc commented on #626
Excellent question, I have the same problem. Did you ever get a reply?

[2019-06-11 12:32] FlorianHergo commented on #814
Ok. I don't have a license. thx.

[2019-06-11 12:33] #814 closed

[2019-06-15 16:49] dabossxinxin commented on #762
+1
when i set CMAKE_CXX_FLAGS="-std=c++11"
I got the result

[2019-06-17 14:42] bodyweightenergy commented on #799
Around a year ago, I wrote a simple single producer-multiple consumer C++ program on my Odroid XU4. With 4 threads/workers (running on 4 cores), I managed to get ~3 FPS processing a 720p stream. While the XU4 has 8 CPU cores, only 4 of them are actually relatively powerful; the others are meant to handle light tasks such as IO. Unfortunately, I haven't saved that program anywhere so I can't share

[2019-06-19 08:21] dyama opened #816 "How can I recognize Japanese license plates?"
Hello, I am looking for the files needed to recognize Japanese license plates.
The [official API demo](https://www.openalpr.com/cloud-api.html) and [release notes for v2.6.103](http://doc.openalpr.com/release_notes.html) also support Japanese license plates, but I can not find the essential files in [runtime_data](https://github.com/openalpr/openalpr/tree/master/runtime_data).
Should I start from

[2019-06-19 13:35] MrSampson opened #817 "Migration to OpenCV 4"
Is there any plan for the migration of OpenALPR to the OpenCV 4 base?

I just tried to compile the current version of OpenALPR (master) to the current version of OpenCV (master), but it looks like there have been quite a few symbol changes between 3.4 and 4.1. OpenALPR:master compiles just fine with the 3.4 branche of OpenCV.

[2019-06-20 07:17] Bahramudin opened #818 "How to configure in Visual Studio 2017"
I have downloaded the package and created a Visual Studio project and also linked the include directory as well as the library directory in the project properties configuration.

And also added the required DLLs files as recommended in README.txt

But while running the project is throws this exception:

Is there anything left that I did not configure?

Thanks!!

[2019-06-20 20:45] minusplusminus opened #819 "Class CaptureDelegate is implemented in both"
Hi everyone,

Love this project!
I've compiled Openalpr from scratch on MacOS 10.14:

 v2.3.0
[code]
I tested it and it's running fine from commandline.

after that I installed python 3.7 dists  in venv

` opencv-python-4.1.0.25`
`Openalpr 1.0.12`

`Class CaptureDelegate is implemented in both [directory]/venv/lib/python3.7/site-packages/cv2/cv2.cpython-37m-darwin.so (0x115a326a8) and /usr/local/o

[2019-06-21 02:00] seoyoungrag commented on #626
The file is in src/CMakeLists.txt

[2019-06-21 06:01] prakhar9998 commented on #803
I'm also getting this same error. Did you fix it ?

[2019-06-21 16:29] guidgaro commented on #803
No...

[2019-06-21 20:25] Renato-Lorenzi commented on #124
Alguém trabalhando nas novas placas? Temos interesse em apoiar se alguém já tiver algo ou se tiver de forma comercial...

[2019-06-23 18:26] ColbyBurkett commented on #789
Having the same issue.  Architecture of machine, Python, and OpenALPR all match. Paths are good.  Unable to locate the library,...

[2019-06-24 18:51] TheMasterRoot commented on #663
how to install using openalpr on opencv 4?

[2019-06-25 21:49] ailuropoda0 commented on #92
@VolgGTU That's because OpenALPR does not support OpenCV 4.0 version.
Delete OpenCV 4 and reinstall OpenCV 3.4 version or less.

[2019-06-27 17:00] kevinastone commented on #811
It should be hitting this line.  Is Tesseract non Bionic not reporting as 4.0+?

https://github.com/openalpr/openalpr/blob/5097221a464edf8f5f33bd0569bbdf45dd5baa31/src/openalpr/ocr/tesseract_ocr.cpp#L47

[2019-06-27 17:10] kevinastone commented on #811
`libtesseract-4` in Bionic is versioned `4.0.0-beta.1` which I suspect is throwing off the above version check.

[2019-06-27 17:16] kevinastone commented on #811
the version compare works.  It's just not in the Bionic release since its as introduced in 28e0b0fa95c12923138768d670b852242a750d0c.

[2019-06-27 21:48] LuisAngelMoralesRomo commented on #294
Add this line at the end of [src/misc_utilities/CMakeLists.txt](https://github.com/openalpr/openalpr/blob/master/src/misc_utilities/CMakeLists.txt) and compile.
`install (TARGETS openalpr-utils-binarizefontsheet DESTINATION bin)`

[2019-07-01 10:16] ivanh23 commented on #433
Hello . i tried your example and it dont work , can you help me ?

[2019-07-01 23:02] AT0myks commented on #789
What directory did you add to the PATH, and did you restart the PC after adding it?
Also it looks like you installed the bindings with python 2.7 and not with python 3.7.0 but that's probably not related to your issue.

[2019-07-03 14:21] henriqueblobato commented on #124
@Renato-Lorenzi Fala Renato, estou trabalhando em solução própria para fins comerciais, quer conversar?

[2019-07-03 14:47] Renato-Lorenzi commented on #124
Vamos sim, meu e-mail renato@cloudpark.com.br

[2019-07-03 15:53] tcpipchip commented on #124
Meu aluno defende o TCC este mes sobre reconhecimento de placas!
Talvez queira ele como assessoria ou desenvolvimento de algo ?
Sem sim, mande e-mail para tcpipchip@hotmail.com

[2019-07-03 19:58] Efrainq07 commented on #658
This worked for me, thanks!

[2019-07-05 06:42] mayankmehtani commented on #769
Was there any solution to this?

[2019-07-05 07:03] mayankmehtani commented on #769
found solution here
https://github.com/openalpr/openalpr/issues/762

[2019-07-08 12:03] lolouk44 opened #821 "docker-compose not working?"
Trying to use docker-compose
My config is:
[code]
Can't see anything special here but please do step in if you spot something
After running it, my docker log is this:
[code]
Can someone help point out what I'm missing?

[2019-07-08 14:40] augisbud opened #822 "prewarp skipped due to missing prewarp config"
Hello I am attempting to use the opensource version of openalpr on a raspberry pi 3b+, I have configured the openalpr-utils-calibrate how ever when I try to run it with --debug I get this, it's on the same file i used to calibrate it.

[code]

my prewarp config

`prewarp = planar,720.000000,540.000000,0.000500,0.000000,-0.000000,1.000000,1.150000,0.000000,0.000000`

[2019-07-09 18:33] j-651 commented on #587
@der-lukas @Friendly-Robot I know this issue is quite old but I just came across it experiencing the same issue and noticed it was still open.  Have you had any success/workaround for this other than the links provided above? Thanks!

[2019-07-11 23:09] zhijie96 commented on #407
Hi, I am very interested in these files. Could you send them to me, Thanks a lot. Here is my email: yzj1179953196@gmail.com

[2019-07-12 07:32] Erffa commented on #712
Did you find a solution to your problem ?

[2019-07-15 10:05] Shubammanhas commented on #762
Is this the path where your openalpr resides?

[2019-07-16 02:18] Shubammanhas commented on #817
Have you solved it yet?

[2019-07-16 10:47] Mankayarkarasi opened #823 "Windows 10 - OPENALPR 64 bit - Exception (Winforms)"
Hi,

I am using Windows 10 and has downloaded openalpr-2.3.0-win-64bit.zip files. I had created a new project and referring to below .dlls :

openalpr-net.dll
liblept170.dll
opencv_ffmpeg300_64.dll
opencv_world300.dll

in my reference.  When I am trying to run the code, it throws an error "System.BadImageFormatException: 'Could not load file or assembly 'openalpr-net, Version=2.3.0.0, Culture=neut

[2019-07-16 10:53] Mankayarkarasi commented on #818
Hi Banhramudin ,

I am also facing similat issue and looking for an answer.  I am trying to use OPENALPR in Visual Studio project and receiving "System.BadImageFormatException: 'Could not load file or assembly 'openalpr-net, Version=2.3.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. An attempt was made to load a program with an incorrect format.'

Any thoughts ?

[2019-07-23 02:30] braitsch commented on #658
I also had to ``brew install glog`` on OSX 10.13.6 otherwise @cpknight your script works, thanks!

[2019-07-25 13:54] malfonsoNeoris commented on #714
hi.. i am having the same issue.. have you resolved it ?

[2019-07-26 14:43] #471 closed

[2019-07-26 18:07] WilliamLambertCN commented on #310
Hello, I'm working on Singapore plates too, now. But now I truly need you help. When it comes to use region code 'sg' for setting alpr object, there seems no plates can be detected. Would you mind offer your model of sg paltes to me. Please!!!

[2019-07-27 08:57] GadgetSteve opened #824 "Site/Doc Suggestion: Legal Warning"
I think that it might be worth reminding potential contributors that video shot in public places **may** cause legal problems if uploaded  and that the _potential_ contributor needs to check for themselves if uploading could cause a problem. I believe that videos shot in France that included some specific landmarks have caused people problems for the people who uploaded them in the past.

https://

[2019-07-29 16:06] Reddyforcode commented on #707
it happends when this alpr doesn't recognize a plate in your image, if you clipped your image, try giving it a little more of space

[2019-07-31 21:40] Blejzer opened #825 "brew install openalpr error on MacBookPro mojave 10.14.6 (18G84)"
Hi,
Just tried to install openalpr and got the following error:

[code]

Anyone had this problem?

[2019-08-03 17:03] joshuar87 commented on #129
Hi is there any progress on this? Tempted to create one using the training tessract OCR to create a ZA file. I know eu config works on some plates so might start with that file... Send me a message if you're interested? thanks

[2019-08-04 03:18] sskadit opened #826 "Make https post call from Open ALPR Agent as soon as the licence plate is recognised"
How can I use the Open ALPR Agent to send an POST call to my http server as soon as it detects the number plate? At present now I have to wait until the car moves out of the frame. I need to detect the number plate and send a post call as soon as it recognises the number plate. Is there any tweaking in the agent? I have tried everything, it wont make an api call until 50-60 seconds once the number

[2019-08-06 19:39] alir37aa commented on #804
Would you please share the configuration of your pc in which Ubuntu is running?

[2019-08-07 09:17] DmitriiCM commented on #804
uname and lscpu info

**PC**:
4.15.0-55-generic #60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              4
On-line CPU(s) list: 0-3
Thread(s) per core:  2
Core(s) per socket:  2
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU f

[2019-08-07 18:38] anshgupta1234 commented on #643
@bameyrick , @axeless is asking how you did the commit hashing and stuff. Could you specify the information for me and him? Thanks a lot.

[2019-08-10 05:40] robster0326 opened #827 "Alprd video stream fps settings?"
Hello Guys!

I'm using alprd to process video stream from an USB camera. As I see, the stream is 640x480, but cannot see the FPS of the video stream in logs.
Does alprd utilize the max possible fps of the connected camera, or can I modify this settings? What if I connect a 640x480 webcam with 120fps?

Thanks!

[2019-08-10 08:03] bamwani commented on #612
Hey, @zhouhao27 Any progress? How did you do it finally?

[2019-08-12 11:02] 0x77dev opened #828 "Does it supports Ukraine?"

[2019-08-12 14:05] joshuar87 commented on #660
Brilliant thanks. I love how it is actually subtly stated at bottom at readme.

[2019-08-12 19:10] GrandNewbien commented on #811
I'd suggest maybe leaving a note for those on 18.04 to run the command https://github.com/isaactoes suggests

[2019-08-13 21:41] NicholasJarr opened #829 "Memory Leak on Raspberry Pi"
Hi!
I've made a program that watches a directory for photos, and try to recognize them after detection. But I noticed that it was slowly leaking memory until the system killed the process.
I'm running it in a Raspberry Pi 3B+ (it has 1gB of RAM) using Ubuntu Server.

The program starts some threads in a loop and process files from a queue. Each thread keeps popping files from it and tries to recog

[2019-08-13 23:14] santanafabio commented on #733
Hey buddy, what did you do?
Not finding on my compilation too

[2019-08-16 12:09] joshuar87 commented on #660
Hi there. I have installed OpenCV4.1.0 fine and I am compiling openalpr2.3.0 on ubuntu mate on a pi. During the compile I get the error: error: ‘CV_BGR2GRAY’ was not declared in this scope cvtColor(img, img, CV_BGR2GRAY);
Does anyone have any idea why? Is it version compatibility? Very strangely I have managed to get openalpr running 100% on my PC with these versions and the same install procedure

[2019-08-16 14:03] Saj1234 commented on #660
@joshuar87  I had the same issue. Downgrading OpenCV to 2.4 fixed it.

[2019-08-16 19:02] Reddyforcode commented on #828
nop, but there's some instructions for training your own here https://github.com/openalpr/train-ocr contact me if you can't we found out that its for python 2 not 3 and you need to install openalpr then with the easy installattion

[2019-08-16 19:10] Reddyforcode commented on #827
send me an email, i can give you some tips B-), aaabeeelooon@gmail.com

[2019-08-18 00:58] icepicknz commented on #373
I'd be very interested in there NZ train data too, did anyone complete this?
@vladimirr0708982 if I get a whole lot of images are you willing to assist?

[2019-08-18 05:52] danielfaulknor commented on #373
No luck here. @trikonz's drive by comment was the closest we've come...

[2019-08-18 19:57] icepicknz commented on #373
the docker version posting to the cloud picks up NZ plates every time.
I took a look at their files in the docker and I see the runtime_data/config/nz.conf file.

Problem I have is the docker version doesn't appear to be using the tessdata files so I can't just copy them, they do still have files in the OCR folder just cf_m.enc  cf_w.enc  ov_m.enc  ov_w.enc	province.labels  th_m.enc in the aunz fo

[2019-08-18 20:23] Jake-01 commented on #373
@icepicknz I'd be keen to work with you and try and see if we get working build going. I've started collecting pics of plates myself

[2019-08-18 21:32] icepicknz commented on #373
interested, will try get some photos over the next week or so; have you figured out the training part?

[2019-08-18 23:58] santanafabio commented on #807
Yeah... Me!
I trained my data set with the new font. All done making digital distortion...
![chars](https://user-images.githubusercontent.com/5226242/63232073-af630e00-c1fa-11e9-94cd-d5d64cff7d2b.png)

[2019-08-18 23:59] santanafabio commented on #807
I'm think in improving a little more, but I'm having a 87%  of confidence already....

[2019-08-19 09:26] GuoxinL commented on #228
@Xaaris You are right about it.

[2019-08-19 13:01] guesmihela opened #830 "error undefined reference to `log4cplus::RollingFileAppender::RollingFileAppender"
While compile the code of openaplr in Ubuntu 16.04, I got the following error:
undefined reference to `log4cplus::RollingFileAppender::RollingFileAppender
undefined reference to `log4cplus::Logger::operator=(log4cplus::Logger&&)'
undefined reference to `log4cplus::Logger::getInstance(std::string const&)'

any help please

[2019-08-20 11:43] bameyrick commented on #643
Oh yeah sure, it should just be:

[code]

or if you're using yarn:
[code]

[2019-08-21 07:07] Zhanat87 opened #831 "how i can make golang version of openalpr sdk?"
how i can make golang version of openalpr sdk?
i do next steps:
git clone https://github.com/openalpr/openalpr
cd openalpr/src/bindings/go && sh make.sh
and got next errors:
/usr/bin/ld: cannot find -lopenalpr
collect2: error: ld returned 1 exit status
# pkg-config --cflags  -- openalpr
Package openalpr was not found in the pkg-config search path.
Perhaps you should add the directory containing `o

[2019-08-22 20:41] Reddyforcode commented on #707
installing tesserract from a ppa is the solution

[2019-08-22 22:31] Reddyforcode opened #832 "[Question] how can i use only the character segmentator?"
in my country i have 2 kind of plates, with different formats:
the new one: "NNNNLLL"
the old one  : "NNNSLLL"
where:
    N = Number
    L = Letter
    S = Space
and the trained OCR is getting bad results confusing the new one when it doesn't detect the first number, as an old one, so my solution was trying to measure the space between the characters, i'm using my own character segmenter but doesn

[2019-08-26 12:15] KanikaBatra commented on #581
Has this issue been resolved?

[2019-08-28 08:52] stevegdavis commented on #823
Hi, I too got that error when I tried to build (Windows 7 Pro, Visual Studio 2017) about 2 years ago, not sure but this link may help you #638

[2019-08-28 13:40] wapol-infosec opened #833 "ImportError: cannot import name AlprStream"

[2019-08-28 13:41] #833 closed

[2019-08-28 13:42] wildnrg opened #834 "Can't run python Alprstream sample"
I am trying to run the python Alprstream sample from http://doc.openalpr.com/sdk.html#alprstream-api

However I get
Traceback (most recent call last):
  File "alprstream.py", line 2, in <module>
    from alprstream import AlprStream
  File "/home/htran/alprstream.py", line 2, in <module>
    from alprstream import AlprStream
ImportError: cannot import name AlprStream

It seems like the same issue

[2019-08-30 05:32] elperez commented on #643
hello @bameyrick

I have tried:
 i -S https://github.com/bameyrick/node-openalpr#b26a8b52f89796d64c86f24e42734e8a3ed77e2d

But I am getting:
../src/node_openalpr.cc:194:20: warning: comparison of integers of different signs:
      'int' and 'uint32_t' (aka 'unsigned int') [-Wsign-compare]
        for (int i = 0; i < regionsArray->Length (); i++) {
                        ~ ^ ~~~~~~~~~~~~~~~~~~~~~~

[2019-08-30 13:44] alien-redfish commented on #407
Hi if anyone has these config files I'd really appreciate it. alien-redfish[at]protonmail.com

[2019-08-30 13:51] liron69 commented on #407
Can you please send it to my mail also? liron.koriat@gmail.com
Thanks!

[2019-08-30 13:55] mchlbowyer commented on #407
Sorry guys but this was nearly 3 years ago now, I haven't touched OpenALPR for nearly that length of time either so don't have the files any more.

[2019-08-30 13:56] alien-redfish commented on #407
Hi,

If I get any responses I'll share them with you,

Thanks!

Sent from ProtonMail mobile

-------- Original Message --------
On 30 Aug 2019, 14:51, liron69 wrote:

[2019-08-30 13:57] alien-redfish commented on #407
No worries mate, thanks for the email and letting me know.

Do you remember much about getting the UK plates recognised?

Sent from ProtonMail mobile

-------- Original Message --------
On 30 Aug 2019, 14:55, Mike Bowyer wrote:

[2019-08-30 14:00] VinylCarbon commented on #407
Most of it was related to getting the plate formats correct. I extracted the files from the commercial application, and modified the files from the open source side to include a lot of the information from the commercial app. I’ll have a look and see if I have them backed up anywhere over the weekend and if I do I’ll post them here.

[2019-08-30 14:04] alien-redfish commented on #407
That'd be great thanks!

-------- Original Message --------
On 30 Aug 2019, 15:01, Mike Bowyer wrote:

[2019-08-30 14:08] liron69 commented on #407
that would be great ...
thank you all ....

[2019-08-30 17:11] ZIKO94ZIKO commented on #732
@sleebapaul  Could you explain  how can i solve this problem
AttributeError: 'Alpr' object has no attribute 'loaded' iwith windows10 i use anaconda .

[2019-08-31 13:45] babrubhan commented on #738
You have to run it with install attribute, i.e., python setup.py install

[2019-08-31 13:47] babrubhan commented on #414
Try giving full path of the libopenalprpy.so library file. This issue seems like the python wrapper is not compiled and installed for python3.

Install python3-dev package, and then compile and install openalpr.

For uinstalling the locally compiled version you can use the following command

cd build
sudo make uninstal

[2019-09-03 09:04] szguoxz opened #836 "Any Chinese plate configuration?"
Wondering where to find the Chinese configuration

[2019-09-03 09:29] MarCovy commented on #836
@szguoxz can you upload any photo  with the Chinese plate? You are probably able to make the configuration file yourself.

[2019-09-04 12:16] 1l0 commented on #816
Any response on this?

[2019-09-04 12:48] dyama commented on #816
@1l0
No response.
I trying training the OCR for Japanese license plate detection by myself.

[2019-09-04 13:08] 1l0 commented on #816
Wow. Are you going to make that open source?

[2019-09-04 15:47] dyama commented on #816
@1l0
There is no plan for now.
However I need a lot of help for a more accurate learning model.
Maybe I will upload this learning model to Github and publish it.

![](https://pbs.twimg.com/media/D-IrWPyUEAUAd4b.jpg)

I specified the size, ratio, and layout of the Japanese license plate and created a learning model.
It recognize only the maximum size 4 digits.

[2019-09-05 05:56] 1l0 commented on #816
Sounds great. It would be useful even if an ability is limited to 4 digits.

[2019-09-05 13:46] kevinwright commented on #642
Also encountered this.  In my case, the problem seemed to be the detector.

The fix was to update the config to
`detector = lbpopencl`

[2019-09-06 11:13] ZIKO94ZIKO commented on #712
same problem

[2019-09-06 11:41] ivanh23 opened #837 "Openalpr and python"
Hello , i have issue with installing the libraries , i managed to run the setup script and i get the following message

File "C:\Users\Novacode\AppData\Local\Programs\Python\Python37-32\lib\distutils\util.py", line 110, in convert_path
    raise ValueError("path '%s' cannot be absolute" % pathname)
ValueError: path '/' cannot be absolute

Can someone please help me , i amusing python 3.7 and also

[2019-09-07 11:55] jayrajmulani commented on #709
Navigate to '~/openalpr/src/openalpr/detectormorph.h' and add the following import
#include <opencv2/imgproc/types_c.h>

[2019-09-10 08:57] ZIKO94ZIKO commented on #590
@khaledoun khooya salamoaalkom l9iti la solution?

[2019-09-11 07:14] Friday97 opened #838 "Alpr class required "recognizeRawImage" function which is doesn't exist"
File "/usr/local/lib/python3.5/dist-packages/openalpr/openalpr.py", line 93, in __init__     self._recognize_raw_image_func = self._openalprpy_lib.recognizeRawImage
File "/usr/lib/python3.5/ctypes/__init__.py", line 360, in __getattr__
func = self.__getitem__(name)
File "/usr/lib/python3.5/ctypes/__init__.py", line 365, in __getitem__     func = self._FuncPtr((name_or_ordinal, self))
AttributeErro

[2019-09-12 07:09] tranphuvinh64 commented on #818
I faced this issue on Visual Studio 2019. My solution is changing the Target Framework. When I create a new project, default Target Framework is 4.7.2, and I changed it into 4.0.
It worked for me
![image](https://user-images.githubusercontent.com/28581311/64761648-c92c1280-d566-11e9-90dd-8bfd4010461c.png)

[2019-09-17 10:22] siddas27 commented on #707
After trying a lot of fixes, finally @Reddyforcode link worked

[2019-09-17 11:31] mike-bp3 opened #839 "Trying to install openalpr-webserver on Raspberri Pi4"
Hello,

I'm trying to install openalpr web server on a raspberryi Pi 4 with 4gb of RAM running ubuntu server 18.04 64bit.

I managed to install ubuntu server following this: https://jamesachambers.com/raspberry-pi-4-ubuntu-server-desktop-18-04-3-image-unofficial/

I then run this code:

`bash <(curl -s https://deb.openalpr.com/install)`

And select install_webserver

After trying to install, I get

[2019-09-17 14:04] ArthurAttout opened #840 "Insufficient memory even when using small pictures"
I built the source of the last release with the NDK to embed OpenALPR in an Android App.

When calling `recognize(path)` , the following error is yielded :
[code]

The target image is a 535x431 JPEG, that weighs 77KB.  Anything beyond ~15KB causes the crash.

[2019-09-18 07:21] chinya07 opened #841 "How to find out new car is arrived ?"
Hello I am trying to run ALPR using IP camera, while continuous streaming how can I find out new car is arrived and the confidence and OCR results for new car is different and store them accordingly?

[2019-09-20 08:10] ArthurAttout opened #842 "Maintained fork of OpenALPR ?"
It seems obvious that this repo isn't maintained anymore. @matthill  seems to push some doc here and there, but the actual situation of the repository is catastrophic.

Is anyone aware of a maintained fork of this repo ?

[2019-09-20 12:05] ivanh23 opened #843 "Video stream"
Hello i wanted to ask how can i recognize plates from video ? can someone show some example ?

[2019-09-20 14:09] paulosilvaads commented on #124
galera alguem conseguiu avançar com as placas br? estou com um projeto aqui na empresa e estamos buscando soluções

[2019-09-23 14:23] ADD12 commented on #842
The Google group seems active enough. post your problem there.
https://groups.google.com/forum/#!forum/openalpr

[2019-09-24 09:15] TdevSoft commented on #761
Add the PPA to your repo list
`sudo add-apt-repository ppa:alex-p/tesseract-ocr -y
sudo apt-get update -y`

Reinstall tesseract
`sudo apt-get purge libtesseract-dev
sudo apt-get install libtesseract-dev`

[2019-09-24 09:23] ArthurAttout commented on #842
That's what I've done, but no response yet. The group is active, but one way, just like this repo. Filled with unanswered questions.

[2019-09-24 09:25] ArthurAttout commented on #843
If you're using the CLI

[code]

[2019-09-26 10:28] segawasai commented on #703
Hello zhouhao, at now, I am training ALPR for detecting 2 lines. Do you have any contact, it could easily for me to ask you some question. Thanks

[2019-09-30 13:32] ViniBreda opened #844 "Segmentation Fault after adding openalpr in c++ code"
I had a code that captured an image through a webcam and saved it to a folder. This bit works fine.
After I added the example openalpr code from [http://doc.openalpr.com/bindings.html#c-c](url) and added libopenalpr.so to the libraries, it suddenly stopped working and I get a segmentation fault every time I run the compiled code. If I remove libopenalpr.so and the alpr code snippets it will work a

[2019-10-01 10:24] minecraft2048 commented on #844
Where did you get your libopenalpr?

[2019-10-01 10:25] minecraft2048 commented on #817
I have make it compile and successfully identified the example number plate: https://github.com/openalpr/openalpr/pull/845

[2019-10-01 13:59] zhouhao27 commented on #703
@segawasai What do you want to know? Are you working for Singapore Vehicle number plate?

[2019-10-01 14:19] ViniBreda commented on #844
I installed it using the "hard way" guide from the GitHub

[2019-10-02 00:49] minecraft2048 commented on #844
I tried this example code:  http://doc.openalpr.com/bindings.html#c-c using OpenCV 4.1.1-1 and my fork that changes some variables to match OpenCV4: https://github.com/minecraft2048/openalpr , can you try this? I follow the easy way

[2019-10-02 15:11] ViniBreda commented on #844
will try this today when I get home!
Did you alter anything in the example code??
You just installed it via the lib easy way? I'll try that again and see if the brazilian license plate recognition still works.

Thanks for the help!

[2019-10-02 16:49] tmscer opened #846 "Unable to compile due to undefined references on Fedora"
My system is Fedora, I followed the install instructions at https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Fedora-Linux). However, command **make** fails due to the following error:

/usr/bin/ld: //usr/lib64/libgdal.so.20: undefined reference to `PQsetNoticeProcessor@RHPG_9.6'
/usr/bin/ld: //usr/lib64/libgdal.so.20: undefined reference to `PQputCopyEnd@RHPG_9.6'
/usr/bin/ld: /

[2019-10-04 17:45] tmscer commented on #846
The issue seems to be unrelated to OpenALPR.

[2019-10-04 17:45] #846 closed

[2019-10-05 17:11] alessandrofacchin commented on #825
I am experiencing the same issue

[2019-10-08 04:47] GhettoBurger996 opened #848 "Runtime_data & openalpr.conf directory error"
I've set up openalpr using the easy method as shown in the compilation instructions. The only difference being I did not install `sudo apt-get install libopencv-dev` since I already have it manually built on the PC.

Whenever I try running `alpr = Alpr("us", "/etc/openalpr/openalpr.conf", "openalpr/runtime_data/")` I get the following error.

[code]
I've also tried pointing directly to the openalp

[2019-10-08 08:25] Abukhadeejah commented on #202
Dear Mahmood,
Please can you share what you did as we are trying to develop ALPR system with same plates in Qatar. May be we can improve on script and train it to use all color backgrounds including the Blue.

[2019-10-09 09:23] mamakawama commented on #825
Try this:
https://www.bountysource.com/issues/68099374-openalpr-tesseract-installation-difficulty-mac-os-sierra-10-12-16-tesseract-version-issue

[2019-10-09 22:49] Wikinaut commented on #177
Same problem here.

[2019-10-15 19:13] bryanhughes commented on #848
I have the same issue...

[2019-10-15 20:15] Mateiuc commented on #660
hi, can anyone want to share the working script? or in privat.

[2019-10-15 22:37] pageauc commented on #660
I developed a speed camera python application
https://github.com/pageauc/speed-camera   that does motion tracking to
reduce false positives.  It is designed to work best with objects moving
perpendicular in front of camera.  Eg road in front of home.  You can use
this program to track anything that moves, not just vehicles but the speed
may not be relevant since object may be moving towards or awa

[2019-10-16 11:22] Mateiuc commented on #660
@pageauc , Thank you sir, for your fast response, i have been watched your project on youtube ,a few months ago, you have done a great work with this project , i didn't know that has alpr too..i will check if i can use for me.....what i need is to open my gate when arrive the car, i have something now  working, but i don't like how do the job, its bash script.Thank you again..

[2019-10-16 13:23] arielweinberger commented on #834
Experiencing the same. Any news?

[2019-10-16 13:23] arielweinberger commented on #814
Experiencing the same. Any news?

[2019-10-18 10:19] karansoni725 opened #849 "symbol: Error"
while i start the script , i got  following type of errors

@IntDef({OEM_TESSERACT_ONLY, OEM_CUBE_ONLY, OEM_TESSERACT_CUBE_COMBINED, OEM_DEFAULT})
     ^
  symbol:   class IntDef
  location: class TessBaseAPI

[2019-10-18 10:24] karansoni725 opened #850 "libopencv_text missing"
these files are missing in  final results
1.  libopencv_text.a
2.  liblept.a
3.  libtesseract.a

is there any solutions to generate these files

[2019-10-22 06:44] GhettoBurger996 commented on #848
Hey,

So I've managed to solve the problem fr starters make sure the runtime-data and config problem are pointer to the correct location and it may not necessarily be the same as written in the compilation instructions.

In the compilation instructions this is the path
`alpr = Alpr("us", "/etc/openalpr/openalpr.conf", "openalpr/runtime_data/")`

My path turned out to be the following
`alpr = Alpr(

[2019-10-22 09:54] SimonHurst commented on #837
Is your path a windows path or a unix based one / \ looks like you maybe running it on a Windows system, you need to update the paths

[2019-10-22 12:24] #806 closed

[2019-10-22 12:24] warpdriv commented on #806
Thank you

[2019-10-28 09:58] sneetsher commented on #849
@karansoni725 Could you add more details? full script and running command, full traceback and version of `openalpr` & `tesseract` in use.

[2019-10-28 10:04] sneetsher commented on #850
@karansoni725 Could you add more details? release of `openalpr` or is git HEAD in use & OS name and release.

[2019-10-29 07:01] jjerphan commented on #846
I reopen this issue because I had a similar problem when trying to compile [ttk](https://github.com/topology-tool-kit/ttk) on Fedora 30.

Here is a similar stack trace I got when compiling:
[code]

Though some symbols were referenced when inspecting the library `/usr/bin/ld: /usr/lib64/vtk/libvtkIOPostgreSQL.so.1` (this can be inspected with `objdump`, `readelf` or `nm`, see the bottom of this com

[2019-10-31 11:50] rahul98765 opened #851 "Detect/Recognize number plate in shot distance"
Hi

I am using openAlpr - OpenAlprDroidApp-master

Its works for long distance cars but when i take photo in short distance like 1 meter to 1.5 meter it gave not able process the image.

i have used country - eu
What are changes required D:\Personal\WorkArea\2019\OCR\Android\ANPR\OpenAlprDroidApp-master\app\src\main\assets\runtime_data\openaple.conf  file
or anyother changes in any conf file.

Loo

[2019-11-01 06:23] HanyuuFurude commented on #533
I met with this problem when I was trying to run openalpr on raspberry and I haven't found a solution fits my problem yet.

[2019-11-02 17:09] DKprojektai opened #852 "Interesting - so many issues. Take a look at www.videoanalitika.lt/en"

[2019-11-04 09:31] RootAll opened #853 "Support for Sri Lankan Plates"
need help in training openalpr to recognize sri lanka plate.
Most plates belong to the below patterns:
WP	@@?####
WP	@@@?####
WP	@@?####
SP	@@?####
SP	@@@?####
SP	@@?####
CP	@@?####
CP	@@@?####
CP	@@?####
NW	@@?####
NW	@@@?####
NW	@@?####

[2019-11-06 11:43] juskuz commented on #806
It allows to import openalpr in Python but for me it generates the next error:

`OSError: Unable to locate the OpenALPR library. Please make sure that OpenALPR is properly installed on your system and that the libraries are in the appropriate paths.
Exception ignored in: <bound method Alpr.__del__ of <openalpr.openalpr.Alpr object at 0x000001571BE136D8>>`

and:
`AttributeError: 'Alpr' object has n

[2019-11-06 17:32] ervilis opened #854 "Poor results with low definition images and camera angle issues (Brazilian LP)"
Problem 1.
I am having trouble with low definition images (Image has good definition, but the focus of the image is not on the vehicle).
In these cases the OCR is unable to identify some characters due to "noise" in the image.

![Result](https://user-images.githubusercontent.com/4589381/68321215-111b7180-00a0-11ea-9c65-0e5279b8f47c.png)

OALPR Results (using prewarp and analysis_count = 10)

    -

[2019-11-08 11:01] githubpiyush commented on #570
I am also working on this, any success safiafida?

[2019-11-08 11:04] ViewMind commented on #570
I haven't been working on this for good while now. And I'm sorry, I've never got it to work.

[2019-11-08 13:06] onno182 commented on #739
The above problem has to do with compiling against OpenCV 3.*.  Either change all the OpenCV version 2 constants for the OpenCV 3 equivalent, or compile against OpenCV 2.

[2019-11-09 08:30] aardig commented on #611
Did you find or make th.conf yet?

[2019-11-11 22:17] MattL-NZ commented on #800
Check out this project: https://github.com/shane-taurean/OpenALPR_Cam_Demo

[2019-11-11 22:55] MattL-NZ commented on #373
Hey all, just wondering if anyone has made some progress on this? Looking for NZ Data for my application.

[2019-11-12 13:43] praveen-ravirathinam commented on #853
Do you need help with creating the patterns file or for the recognition process as a whole?

[2019-11-12 17:09] RootAll commented on #853
Thanks for the reply @praveen-ravirathinam.
Really appreciate if you can help in the entire recognition process from patterns to ocr.

[2019-11-13 08:51] Lepiloff opened #855 "Run openalpr using Python"
Hello! At Ubuntu 18.04 I successfully installed openalpr and tested it. Now I want to use python to call it. To do this, I installed https://pypi.org/project/openalpr/

`pip install openalpr`

But I'm having trouble with the paths, the ones in the example don't work.

`alpr = Alpr("eu", "/etc/openalpr/openalpr.conf", "/usr/share/openalpr/runtime_data")`

I get an error

[code]

[2019-11-13 13:06] Lepiloff commented on #855
After a few hours of searching, I found a solution that doesn't require a package installation `pip install openalpr`

Go to

  `  cd openalpr/src/bindings/python/`

run

    `sudo python3 setup.py install`

set the alpr value

    `alpr = Alpr("us", "/etc/openalpr/openalpr.conf", "/usr/share/openalpr/runtime_data/") `

Thats all!

[2019-11-13 13:11] Lepiloff commented on #855
Only one quetion. On the root of openalpr there is folder `runtime_data`, is this the same folder as `/usr/share/openalpr/runtime_data/`. Which path to the folder should I use more correctly?

[2019-11-13 17:06] praveen-ravirathinam commented on #853
So you will have to start by cropping out plates of your country one by one. You will have to collect single-line plates as well as multiline plates.

OpenALPR detection works on the concept of Local Binary Patterns which is basically constructing histograms based on pixel values. So make sure the plates you collect are similar to the real scenario.

Once you collect cropped out plates make sure y

[2019-11-15 08:47] RootAll commented on #853
@praveen-ravirathinam thank you very much for the support.
I had different size cropped plates that's the problem I think as you said.
Once again thank you!

[2019-11-15 08:55] RootAll commented on #853
@praveen-ravirathinam thank you very much for the support.
I had different cropped plate sizes in my input as you said i think its the problem.
I'll try out your way and let you know its status.

once again thank you.

[2019-11-15 08:55] #853 closed

[2019-11-15 10:27] praveen-ravirathinam commented on #853
@RootAll Sure no problem
All the best!!

[2019-11-16 09:55] apodolniy commented on #810
Hello! Empirically determined that for Kazakhstan registration numbers a combination of eu.traineddata and ru.xml is suitable with the completion of * .patterns. It recognizes single-row numbers perfectly, but does not understand double-row numbers. Does anyone have any developments in this direction?

[2019-11-16 09:59] apodolniy opened #856 "Recognition of double-row license plates of Kazakhstan"
Hello to all! I am trying to train recognition of a new region - Kazakhstan, I have experimentally determined that a combination of eu.traineddata and ru.xml is suitable for Kazakhstan registration numbers with the completion of * .patterns. It recognizes single-row numbers perfectly, but does not understand double-row numbers. Does anyone have any developments in this direction?

[2019-11-16 10:05] apodolniy commented on #856
Example plate
![34aeda_ad14cd55d7dc47a095322fe3a93ffcbe_mv2](https://user-images.githubusercontent.com/57586688/68991642-c3f28900-0871-11ea-9fef-ac1c2dbb1abd.jpeg)

[2019-11-18 13:43] ivanh23 opened #857 "How to open openalpr-utils-calibrate"
Hello guys , i want to open calibrate utils.exe , but when i try it opens and automaticly closes in a second . can you please help me ?

[2019-11-19 18:57] goharyhesham opened #858 "Processing live stream videos"
Can this open source openALPR be used for processing live stream videos on the fly?
I am planning to connect a Jetson Nano to my dash cam and I want to feed the video directly from the cam to the Jetson Nano and I want the model to process the video while the dash cam is capturing.

[2019-11-22 16:32] Andreskammerath commented on #309
Hi @alucard079 I had the same issue, and I had resolved it adding && waitkey != 255 in line 361, the else if statement is like above now:
[code]

[2019-11-25 01:50] Satrai8 opened #859 "Cannot import openalpr python module"
I get an error stating I cannot import the module into Python.
Running on Pi 3B+ with Raspiban (buster) OS
Followed The Easy way. Any help would be much appreciated

[2019-11-26 06:38] huseyinuri commented on #707
@Reddyforcode thank you brother. you saved my day

[2019-11-26 13:51] marcelocferdeveloper commented on #124
Eu to precisando também !! Alguém conseguiu algo ?

[2019-11-26 15:12] tcpipchip commented on #124
eu tenho usado da AMAZON!
________________________________
De: Marcelo C Fernandes <notifications@github.com>
Enviado: terça-feira, 26 de novembro de 2019 13:51
Para: openalpr/openalpr <openalpr@noreply.github.com>
Cc: tcpipchip <tcpipchip@hotmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [openalpr/openalpr] Support for Brazilian number plates (#124)

Eu to precisando também !! Algué

[2019-11-26 16:39] marcelocferdeveloper commented on #124
Ele é pago...
To trabalhando em um Real-time pra mobile. Não da pra ficar dependente deles ($$$).

[2019-11-26 16:45] SandroMoretti commented on #124
Estou usando um próprio que fizemos treinando com base no tensorflow.
Infelizmente não posso compartilhar o código/modelo por ser da empresa em que eu trabalho.

[2019-11-28 13:11] ivanh23 opened #860 "OpenAlpr on server"
Hello , i have script for licence plate recognition using opencv and openalpr , then i converted the script into exe file , got all libraries and uploaded them to windows server , and when i try to run the script error pops up : // OpenCL not detected OpenCV Error: Assertion failed (!empty()) in cv::CascadeClassifier::detectMultiScale, file C:\projects\openalpr-win\windows\opencv\modules\objdetect

[2019-11-28 13:39] martijintro opened #861 "Licence question"
We want to use your library (unmodified/original) in a commercial product. Because we don't modify it, we have no changes we want to hide. (e.g. due to a company secret)

Can we use your software if we provide a link to the original verison on this github site?

-> https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0)

Thank you for your feedbacks.

Best regards from Switze

[2019-12-02 13:14] martijintro commented on #861
No answer??

[2019-12-04 00:31] realDeve commented on #641
Kindly follow this link

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=907831

Make sure you in the /usr/share/openalpr/runtime_data/ocr directory and run sudo ln -s tessdata/* .

It works for me

[2019-12-04 11:41] turowicz commented on #767
It appears that the opencv source is not found by the compiler, `opencv2` is not a version number.

[2019-12-04 19:23] jpd319 opened #863 "openalpr initialize error"
Hello i have the next problem

c# .net
openalpr 2.7.1

when i test the code give me an error:
Excepción producida: 'System.DllNotFoundException' en alprnet.dll
Could not find/load native library (libopenalpr.dll)

and show me that can not initialize the library.

[2019-12-05 09:31] iauto360 commented on #836
Try this Chinese plate:
[苏EUK722](http://static.oschina.net/uploads/img/201501/12095821_ahoa.jpg)

[2019-12-05 14:08] #767 closed

[2019-12-05 16:40] marcelocferdeveloper commented on #807
Can you give the properties? Or the file ? I would like to test...

Thanks

[2019-12-05 17:36] marcelocferdeveloper commented on #124
Mas e o modelo gerado, poderia ?

[2019-12-07 11:41] natsu90 commented on #658
When I run `make` command I'm getting below error,
[code]
What did I miss? I'm on macOS Catalina 10.15.1

[2019-12-09 08:16] rafbi77 commented on #717
After some time, I came to the conclusion that the reason for incorrect reading is a small verification sticker on the license plate. When we retouch it, the algorithm works good.

![mik_1](https://user-images.githubusercontent.com/37848061/70418722-3ff08300-1a64-11ea-9c79-6a936cecb156.jpg)

alpr -d  -c eu --config /home/pi/openalpr.conf --clock  /home/pi/mik.jpg
Total Time to process image: 312.8

[2019-12-10 04:37] GhettoBurger996 opened #864 "Are OpenALPR version 2.3.109 and above open source?"
Hey all,

Was just wondering if version 2.3.109 and above (particularly 2.6.103, since I need the Malaysian and Singaporean data-set) are free.

Could not find any information regarding this, and if it is free how do I go about updating the API. Currently on this repos latest release (OpenALPR 2.3.0).

Thanks!

[2019-12-11 06:03] Raven888888 commented on #788
Same here. When I use `alpr -g 1` I get this error

`ERROR loading detection library -- libalpredgegpu.so.2`

Please help.

[2019-12-11 06:10] Raven888888 commented on #635
I am working on Openalpr on jetson nano.
I installed Openalpr via

`echo "deb https://deb.openalpr.com/snapshot/jetson40-2.7.101/ jetson40 main" > /etc/apt/sources.list.d/openalpr.list
apt-get update && apt-get install -y openalpr libopenalpr-dev libalprstream-dev libvehicleclassifier-dev`

However, when I try `alpr <imagefile> --gpu 1` I get this error
`ERROR loading detection library -- libalpre

[2019-12-11 06:19] Raven888888 commented on #788
Btw, I am working on jetson nano if that helps.

Any thoughts ? @matthill

[2019-12-11 06:19] moeiscool commented on #635
@Raven888888 if you want it running on Jetson Nano you should use these scripts

1. Install OpenCV 3.4, OpenALPR needs it
[code]

2. Build OpenALPR from source
[code]

[2019-12-12 07:55] Raven888888 commented on #635
@moeiscool Thank you very much. I tried your method and it is working amazing now!

I needed to do some further debugging due to unmet dependencies and missing libraries when I integrate it into Deepstream. This is only specific to my case and you should not bother if you don't plan to run it with Deepstream.

From 1 fps to 20+fps on Jetson nano! Cheers!

[2019-12-12 07:57] moeiscool commented on #635
@Raven888888 i will gladly update my scripts for deepstream support :) please let me know what I need to do

[2019-12-12 13:52] marcelocferdeveloper commented on #807
And how did you train the data set ? I mean... I am using React Native, but I don´t know how to train the data set

[2019-12-17 20:51] rvalitov opened #865 "Broken link to Xamarin docs in readme"
The readme contains a link to Xamarin docs https://github.com/kevinjpetersen/openalpr-xamarin which does not exist, error 404.

[2019-12-18 17:24] joshi98kishan opened #866 "How to get car's model number(or make number) with an OpenALPR library?"

[2019-12-19 11:23] venkymani commented on #840
Did you manage to get a fix for this?
I've tried building it with the latest version of OpenCV , but i still get this error.

[2019-12-19 13:35] funky81 commented on #664
hi, possible to train indonesia LPR then upload it here?

[2019-12-19 16:52] ArthurAttout commented on #840
No, and I do not plan on searching anymore.

[2019-12-20 05:41] funky81 commented on #866
I just wondering myself. Where do I have to start if I want to start using this library. Please advice.

Thanks

[2019-12-20 14:47] juskuz commented on #775
I got similar error when using Docker and I following the next scope https://github.com/openalpr/openalpr/wiki/Compilation-instructions-(Ubuntu-Linux)#a-readme-to-real-time-license-plate-detection-with-openalpr-opencv-and-python

I added the following (I'm not sure if all are necessary):
apt-get -y install beanstalkd
apt-get install -y default-jdk
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64

[2019-12-26 17:25] dhrumin75 commented on #855
Do we have to purchase a license key? I followed your steps but I am getting 'Licensing Error'

[2019-12-26 17:33] dhrumin75 commented on #660
Do we have to purchase a license key? I followed the give steps but i am getting 'Licensing Error'

[2019-12-26 17:36] dhrumin75 commented on #461
Also, Do we need a license key, i have followed the above steps, but i am getting 'Licensing Error'

[2019-12-26 17:41] dhrumin75 commented on #414
Do you have to purchase a license key? I followed your steps but i am getting 'Licensing Error'

[2019-12-26 17:49] mpusatera commented on #863
Were you able to fix this issue?  I had the same problem.

[2019-12-27 16:54] bubonicbob1234 opened #867 "No rule to make target 'opencv_videostab-NOTFOUND'"
Im getting an error when running make:
[code]

[2020-01-02 19:06] matko238 commented on #823
Is your project 64bit, "prefer 32bit" unchecked in project properties?

[2020-01-06 09:39] devbaris opened #868 "openalpr.conf User Configuration"
The configuration I made when creating an AlprNet object is not valid. Instead, the values in the openalpr.conf file are valid. How do I use the configuration I made when creating the object?

[code]

[2020-01-07 15:51] jbeale1 commented on #707
Thank you! This solved the problem for me, now with tesseract-ocr (4.1.1-1ppa1~bionic1) it is working OK.

[2020-01-08 19:36] martonsz85 commented on #703
@segawasai , @zhouhao27 Did you manage to overcome the issue with "Low confidence in characteranalysis"? If so, could you please let me know what you found? I'm trying to train for two-line EU plates, but I get the same issue. I have 1050 plates.

[2020-01-09 13:26] jdugh commented on #537
Hello. I have the same problem.
This image work great from the cloud API with "eu" country code. But with the debian install and docker install : No license plates found.
![plate5](https://user-images.githubusercontent.com/38976316/72071268-ad096980-32eb-11ea-8f32-16f7c1ebdcc1.jpg)

[2020-01-10 21:41] martonsz85 commented on #310
Hi all,
I'm working on two-line EU plates. I already have 1050 samples, CV seems to correctly recognize the plates, but then I always get "Low confidence in characteranalysis". Though, to me it sounds counter-intuitive (I would guess this error is related to Tesseract, not OpenCV), but could this be because I don't have enough samples? Anyone had any success with training two-lines plates? Anyone

[2020-01-14 16:22] miclf commented on #861
As far as I know, no, you can’t. The GPL licence (and, by extension, the AGPL) make it mandatory to publish your stuff under the same terms. That’s actually the main purpose of the copyleft clause.
(that said, I’m not a lawyer)

[2020-01-14 18:39] miclf commented on #861
@martijintro [This page](http://doc.openalpr.com/opensource.html#commercial-enhancements) in the docs should answer your questions.

[2020-01-15 09:34] martijintro commented on #861
Thank you very much for your feedback!

[2020-01-15 09:35] martijintro commented on #861
Closed

[2020-01-15 09:35] #861 closed

[2020-01-22 13:31] ooxtcoo commented on #292
do someone have made austrian plates training files and is willing to share?

if not, i can provide tausands of austrian plates with 8mp images.

[2020-01-24 05:36] praveen-ravirathinam commented on #856
Hi @apodolniy
You can refer to my answer here:https://github.com/openalpr/openalpr/issues/853#issuecomment-553496958

If you still have any questions please feel free to ask :)

[2020-01-24 07:47] karthick965938 commented on #641
`sudo cp -a /usr/share/openalpr/runtime_data/ocr/tessdata/*.traineddata /usr/share/openalpr/runtime_data/ocr/`

It works for me :)

[2020-01-24 07:49] karthick965938 commented on #811
`sudo cp -a /usr/share/openalpr/runtime_data/ocr/tessdata/*.traineddata /usr/share/openalpr/runtime_data/ocr/
`
It works for me :)

[2020-01-29 09:22] rishabhoswal commented on #533
Traceback (most recent call last):
  File "allapi.py", line 36, in <module>
    alpr = Alpr("us", "/etc/openalpr/openalpr.conf", "/usr/share/openalpr/runtime_data")
  File "/home/zm/code/main/detection/openCVYolo/alpr/python/openalpr/openalpr.py", line 85, in __init__
    self._recognize_raw_image_func = self._openalprpy_lib.recognizeRawImage
  File "/usr/lib/python3.6/ctypes/__init__.py", line 36

[2020-02-06 19:18] logidelic commented on #691
@jovargas Isn't Tesseract 4 incompatible with Tesseract 3 traineddata files? Or did you really get that working? Thanks much.

[2020-02-07 00:21] xerxel commented on #749
HI @alucard079  - Did you ever find the way to consume a webcam video instead of an image?

[2020-02-07 21:10] egorsmkv commented on #567
Any news on it?

[2020-02-15 14:42] Hormold opened #870 "Agent restarts every 10 seconds"
Hi. I have a home server with GPU and one RTSP Hikevision camera.
I have a web UI and agent on the same PC. 8 cores, 8GB Ram. Nvidia GTX1070.

System perfect works with static plates (Russian), but when I try to catch the car on the road - nothing works. I check everything and found this. I think agent reconnect to stream every 5-10 seconds after start analyses. Or it's ok? System load is very low

[2020-02-18 23:25] circleofconfusion opened #871 "Support Maryland "stacked letter" license plates"
Maryland relatively recently introduced license plates where two letters will be stacked on top of each other rather than side-by-side.

Example image:

![Example_MD_license_plate_redacted](https://user-images.githubusercontent.com/5656023/74786932-e5517f80-527b-11ea-8ef1-e85507bc9d9d.jpg)

[2020-02-20 19:11] rogeriocpe commented on #433
Boa tarde a todos, estou iniciando com openalpr e tenho muita dificuldade para mostar o retangulo de localização da placa, alguem poderia me ajudar. Como posso implementar neste código?

Segue meu código:

class Program
    {
        static void Main(string[] args)
        {
            var alpr = new AlprNet("br", "C:/OpenALPR/openalpr_64/openalpr.conf", "C:/OpenALPR/openalpr_64/runtime_data");

[2020-02-20 19:13] rogeriocpe commented on #433
Good afternoon everyone, I'm starting with openalpr and I have a hard time showing the rectangle of the location of the plate, someone could help me. How can I implement this code?

Here is my code:
class Program
{
static void Main(string[] args)
{
var alpr = new AlprNet("br", "C:/OpenALPR/openalpr_64/openalpr.conf", "C:/OpenALPR/openalpr_64/runtime_data");
if (!alpr.IsLoaded())
{
Console.WriteLin

[2020-02-26 00:05] dorathoto commented on #124
Desculpe a pergunta, openalp não é pago? https://www.openalpr.com/

[2020-02-26 06:02] brittosabu commented on #860
Same here

[2020-02-26 06:15] CYbooN commented on #864
Hi, are you still working for Malaysia and Singapore license plate?

[2020-02-26 06:18] brittosabu commented on #860
It is because, for the region which you are trying, you need to have "your_region.xml" file in the
'openalpr_64/runtime_data/regions/' folder.
I hope this will solve the problem.

[2020-02-26 07:34] ivanh23 commented on #860
Thank you for your answer ,but i managed to solve it , actually it was my stupid mistake , in the openalpr.conf, at:

; detector is the technique used to find license plate regions in an image.  Value can be set to
; lbpcpu    - default LBP-based detector uses the system CPU
; lbpgpu    - LBP-based detector that uses Nvidia GPU to increase recognition speed.
; lbpopencl - LBP-based detector that u

[2020-02-26 07:34] #860 closed

[2020-02-26 14:16] renatosc commented on #124
O código é aberto, você pode compilar por conta própria e rodar. Ou se não quer compilar e quer já usar algo pronto, pode usar a versão paga.

[2020-02-27 02:10] GhettoBurger996 commented on #864
yep, mainly focusing towards the Malaysia license plate at the moment though.

[2020-02-27 02:32] CYbooN commented on #864
Hi, are you malaysian? Actually, now i am working on Malaysia license plate, maybe we can share the plate datasets?

[2020-02-27 20:00] gromovadarya90 opened #872 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 14:30] zohaib-novaturesol opened #874 "Installation Issue"
I am getting the following error when execute below command in terminal.
I am using macOS High Sierra 10.13.6

**$ brew install openalpr**

==> Installing openalpr from brewsci/science
==> Downloading https://homebrew.bintray.com/bottles-science/openalpr-2.3.0_1.sierra.bottle.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "openalpr"
Download f

[2020-02-28 18:42] nicolas17 commented on #874
Why are you tagging me?

[2020-02-29 03:24] zohaib-novaturesol commented on #874
to get help to resolve error

[2020-02-29 10:27] GhettoBurger996 commented on #864
sure if you have a Discord account @CYbooN  drop me a message on my discord GhettoBurger #5807

[2020-02-29 10:28] #864 closed

[2020-03-03 22:41] MattCurryCom commented on #706
Good for you, but thats not a fix.

[2020-03-03 23:08] ivanh23 opened #875 "Classifychars utility"
Hello , i have one problem ,every picture that i try to use in the utility , the dashboard is black , there are no error , i am using eu coutry , everything is in order i think , but i am still getting black dash board , can someone help me please, i am very stuck

AND one additional question , i am having so much hard time compiling the uttilites on windows 10 , can someone point me in the right

[2020-03-04 18:05] Silex commented on #706
Maybe #835 fixes the problem. That said, this repository looks inactive, even if there was a fix it looks like it needs a maintainer.

[2020-03-05 13:55] gbebe029 opened #876 "Segmentation Fault (Core Dumped) on Jetson Nano"
Hello,

I've gone through several installation versions on the Jetson Nano. The only one that has installed cleanly is the simple:

sudo apt install openalpr openalpr-daemon openalpr-utils libopenalpr-dev

The program works fine with the canned image "ea7the.jpg" however with most other .jpg it's 50/50 and any video causes:

Frame: 0
Segmentation fault (core dumped)

Any ideas on why?

[2020-03-05 18:35] dorathoto commented on #523
already tried the permissions

sudo chown 777 / var / lib / openalpr /
sudo chown 777 / var / lib / openalpr / plateimages /
sudo chown 777 / var / lib / openalpr / plateimages / image_db /
sudo chown -R openalpr / var / lib / openalpr /
sudo chown -R openalpr / var / lib / openalpr / plateimages /

I've already placed this config, in the following locations and in all:
/etc/openalpr/alprd.conf
/e

[2020-03-09 14:07] efealigulocak commented on #720
Did you solve the problem ?

[2020-03-10 11:00] StarostinVlad commented on #870
Hormold, can you share your runtime_data for Russian licence plates?

[2020-03-10 17:17] Tuidjy opened #877 "Exception when trying to use precompiled Windows library"
I downloaded the OpenALPR 2.3.0 release, uncompressed it, and wrote a short program in Visual Studio 2019, to test that linking works.  I got no errors while building, but the call to the Alpr constructor

alpr::Alpr openalpr = alpr::Alpr("us", "D:/OpenAlpr2.3/openalpr.conf");

fails with

Unhandled exception at 0x000007FEFC94B87D in Basic.exe: Microsoft C++ exception: std::bad_alloc at memory loc

[2020-03-10 23:32] vdukhovni commented on #846
I solved the same issue on a Fedora 31 system by:
[code]
The reason for the warnings is that Postgres installs two versions of `libpq`, one in `/usr/pgsql-12/lib` and another in `/usr/lib64`:
[code]
And with the custom `ld.so.conf` snippet which contains `/usr/pgsql-12/lib/` the preferred `libpq` ends up being the version-specific one in `/usr/pgssql-12`.  But since the executables in /usr/pgsql-1

[2020-03-11 08:43] #877 closed

[2020-03-11 10:56] StarostinVlad commented on #672
Did you manage to set everything up? Can you share the result?

[2020-03-12 18:38] ruirodrigues1971 commented on #631
I had a similar problem. I had to use the library as singleton object

[2020-03-15 04:37] saltzmanjoelh commented on #635
Thanks @moeiscool for the install scripts!

@Raven888888 How are you getting 20 fps on a Jetson Nano? I used the same build scripts and ran the test.py script included in the source and I'm getting Processing Time: 843.126160.

[2020-03-15 15:10] moeiscool commented on #635
it’s probably because the python script is pointed at cpu by default. you
need to specify lbgpu in openalpr conf.

On Sat, Mar 14, 2020 at 9:38 PM saltzmanjoelh <notifications@github.com>
wrote:

--
Thanks!
Moe Alam
Shinobi Systems
CEO & Founder
shinobi.video

[2020-03-15 15:20] saltzmanjoelh commented on #635
@moeiscool I made sure that it is using the gpu setting. It even logs “loading cuda classifier”

Are you using the cli binary, writing your own source code or something else?

[2020-03-15 16:23] moeiscool commented on #635
i’ve used both CLI and the nodejs module. i don’t use python

On Sun, Mar 15, 2020 at 8:20 AM saltzmanjoelh <notifications@github.com>
wrote:

--
Thanks!
Moe Alam
Shinobi Systems
CEO & Founder
shinobi.video

[2020-03-15 16:50] saltzmanjoelh commented on #635
Thanks @moeiscool. With cli, would you mind sending the output with the —debug flag so that I can compare please? 🙏

[2020-03-16 14:42] zongoalbert commented on #422
hello dear @ChillyGuy

I'm working on a project about recognizing moroccan license plates which look like this image :
![image](https://user-images.githubusercontent.com/55978810/76768128-dedef680-679a-11ea-893b-40aac8be2c0e.png)
i did not have datasets , i decide to use "us" and "eu" alpr
i tried to modify "us.patterns"   i added the line " mr              #####@# "

When I run the command line "

[2020-03-17 17:42] martijintro opened #879 "question about licence model"
**Is your software i can download from github completely opensource?**

**If yes:** Is it able to detect licence plates by itself, which means without any network connection to cloud, server, etc?

**If yes:** If it's completely opensource, why i can enter some licence keys?

**If no:** Are parts of your software i can download from github closed-source?

[2020-03-17 19:01] jmar83 commented on #879
Here i read something about a "open source" vs. "commercial" agent:
http://doc.openalpr.com/alprd.html

Now i downloaded the win64 version here on github, but there is not file called `alprd.conf` - only `openalpr.conf`... but it doesn't have a section `[daemon]` for example...

So: How to start and configure the opensource agent after unpacking that zip?
-> https://github.com/openalpr/openalpr/re

[2020-03-23 22:20] vladislav77c commented on #876
same problem

[2020-03-24 11:25] cpaolo commented on #523
hello, did you find how to store images in folder ?
i cannot, using raspberry pi 4 and pi camera.
it's all ok, only the storing image is not working

Thankyou
![Cattura](https://user-images.githubusercontent.com/23268969/77420569-90e57680-6dca-11ea-9136-35fbb1493f81.GIF)

[2020-03-28 14:51] rebelate commented on #846
I got a problem building Caffe and turns out it's because of this as well saying 'undefined reference to `PQ' ..
Thanks mate!!

[2020-04-06 13:40] martijintro opened #880 "Why i need an image??"
you write we can use mjpeg with opensource version, but:

[code]

(...the example from: http://doc.openalpr.com/alprd.html#open-source-agent) give me that message for the command `alpr -c CH --config ./alpr.cnf`:

[code]

So why??

[2020-04-06 13:44] martijintro opened #881 "Country config file does not exist?"
[code]

why??

[2020-04-07 07:16] maechler commented on #881
I have never received an answer whether I should include the Swiss license plate data into the EU traineddata or whether there should be a separate Switzerland only configuration. That is why at the moment there is no `ch.conf`, anyone looking for the configuration necessary, please look here: https://github.com/openalpr/train-ocr/issues/34#issuecomment-609913141

[2020-04-07 07:31] martijintro opened #882 "training data in /usr/share/openalpr/runtime_data/ocr/ or /usr/share/openalpr/runtime_data/ocr/tessdata"
Message:

[code]

Then:

[code]

After that, same message:

[code]

Why the files are in /usr/share/openalpr/runtime_data/ocr/tessdata, but the alpr searches for it on /usr/share/openalpr/runtime_data/ocr? And why it does not work to set the `TESSDATA_PREFIX` variable?

When i set that variable to /usr/share/openalpr/runtime_data/ocr/tessdata, the aplr app still searches in  /usr/share/openalpr/ru

[2020-04-07 07:33] martijintro commented on #881
ok thx!

[2020-04-07 07:33] #881 closed

[2020-04-07 07:35] martijintro commented on #880
What you write in documentation on your webseite, does not seem to work..(?)

[2020-04-07 07:42] martijintro commented on #882
May i should soft-link all files from `/usr/share/openalpr/runtime_data/ocr/tessdata` to `/usr/share/openalpr/runtime_data/ocr` ???

[2020-04-07 08:05] martijintro commented on #882
Now i suddenly get an memory access error:

[code]

[2020-04-07 08:18] martijintro commented on #882
noibody knows about the directory problem`??

[2020-04-07 08:24] martijintro commented on #882
same problem with that command, WTF?!?!

`TESSDATA_PREFIX=/usr/share/openalpr/runtime_data/ocr/tessdata && alpr n.jpg`

[2020-04-07 09:19] martijintro commented on #882
Maybe that bug is only on the version i've downloaded from the ubuntu APT repo?!?!

[2020-04-07 09:36] martijintro commented on #882
https://debianforum.de/forum/viewtopic.php?f=27&t=176976&p=1234596#p1234596

[2020-04-07 09:43] martijintro commented on #876
Similar problem here: https://github.com/openalpr/openalpr/issues/882

"Speicherzugriffsfehler (Speicherabzug geschrieben)"

[2020-04-07 09:44] martijintro commented on #882
question seems to be too complex or what??

[2020-04-07 10:25] martijintro opened #883 "alpr causes kernel error"
alpr[3799]: segfault at c ip 00007f1076f3cc27 sp 00007fff70897050 error 4 in libtesseract.so.4.0.0[7f1076e9b000+30d000]
[  190.665231] Code: e9 5e ff ff ff 66 0f 1f 44 00 00 31 f6 48 89 ef e8 ce f9 18 00 8b 83 a0 15 00 00 85 c0 0f 8f c0 00 00 00 48 8b 83 40 0a 00 00 <80> 78 0c 00 0f 85 a7 02 00 00 8b 83 58 47 02 00 85 c0 0f 8e b1 00

[2020-04-07 10:38] martijintro commented on #883
is occurs NOT from the first try, but maybe from the 2nd. (?)

[2020-04-07 10:39] martijintro commented on #883
More Details: I use VirtualBox:

[code]

[2020-04-07 11:00] martijintro commented on #883
I think it's a product strategy to make the opensource version completely unusable, so the people buy it because they are resignated.

I think i'm right with that.

So the OS version is just a decoy, nothing else....!!

And i don't like that strategy. Because it's not honest.

Because of that, now i try it with https://platerecognizer.com, hehe!! :-)

[2020-04-07 11:00] #883 closed

[2020-04-07 11:00] martijintro commented on #882
I think it's a product strategy to make the opensource version completely unusable, so the people buy it because they are resignated.

I think i'm right with that.

So the OS version is just a decoy, nothing else....!!

And i don't like that strategy. Because it's not honest.

Because of that, now i try it with https://platerecognizer.com, hehe!! :-)

[2020-04-07 11:01] #882 closed

[2020-04-07 11:01] martijintro commented on #880
I think it's a product strategy to make the opensource version completely unusable, so the people buy it because they are resignated.

I think i'm right with that.

So the OS version is just a decoy, nothing else....!!

And i don't like that strategy. Because it's not honest.

Because of that, now i try it with https://platerecognizer.com, hehe!! :-)

[2020-04-07 11:01] #880 closed

[2020-04-07 11:01] martijintro commented on #879
I think it's a product strategy to make the opensource version completely unusable, so the people buy it because they are resignated.

I think i'm right with that.

So the OS version is just a decoy, nothing else....!!

And i don't like that strategy. Because it's not honest.

Because of that, now i try it with https://platerecognizer.com, hehe!! :-)

[2020-04-07 11:01] #879 closed

[2020-04-07 11:25] martijintro commented on #861
I think it's a product strategy to make the opensource version completely unusable, so the people buy it because they are resignated.

I think i'm right with that.

So the OS version is just a decoy, nothing else....!!

And i don't like that strategy. Because it's not honest.

Because of that, now i try it with https://platerecognizer.com, hehe!! :-)

[2020-04-07 11:25] martijintro commented on #881
I think it's a product strategy to make the opensource version completely unusable, so the people buy it because they are resignated.

I think i'm right with that.

So the OS version is just a decoy, nothing else....!!

And i don't like that strategy. Because it's not honest.

Because of that, now i try it with https://platerecognizer.com, hehe!! :-)

[2020-04-07 23:05] makkimadani opened #884 "A"

[2020-04-08 06:06] sarafalamaki commented on #842
I'm trying to get it all to work. If it does, it'll all be in my repos... none of my PRs have been merged yet :/

[2020-04-08 06:16] sarafalamaki commented on #817
I've raised a PR for this too.. it hasn't been merged, but works on MacOS Catelina

[2020-04-09 02:37] ProfeJesuArce commented on #459
Fede pudiste resolver este tema?

[2020-04-10 07:56] makkimadani commented on #410
المشكلة اتحلت عندك ؟ بتواجهني نفس المشكلة

[2020-04-11 09:53] Dreamskya opened #885 "Does it support license plate recognition in Singapore?"

[2020-04-11 14:44] infojess commented on #430
**### look my friends:**
https://github.com/infojess/OpenAlpr_C-_example

[2020-04-12 03:53] Dreamskya commented on #207
@nglinh Hello, can you share the demo of Android for license plate recognition in Singapore?

[2020-04-13 13:43] GouravGovindaswamy opened #886 "Current accuracy of this library"
What is the current accuracy and confidence of the library for all phases ?

[2020-04-15 15:46] T34m0 opened #887 "save openalpr data to a database"
I have installed openalpr on my raspberry pi 4 and it works with the alpr command.

I would like help so that when you run the command alpr all the data displayed in the terminal is saved in a database

[2020-04-20 07:36] engycz opened #889 "Alpr doesn't recoginze any license plate in cropped image"
License plate is recognized in full size (pic1.png) image but not in pixel identical cropped image (pic2.png).
Images and config file attached [test.zip](https://github.com/openalpr/openalpr/files/4501849/test.zip).
[code]
[code]

[2020-04-30 19:38] dxbdev commented on #570
@safiafida @githubpiyush
Hello Guys,
This may be a bit old post but I'm working on the same region (UAE and gcc) at the moment. Did you manage to make any progress in this?

I'm trying to improve the results of gcc that are provided by default.
is there any way to do this or I should rebuild the training for the whole country from scratch?

[2020-05-01 21:52] jomo commented on #675
I had this issue on OS X when the input image was larger than the `max_detection_input_width` or `max_detection_input_height` setting.

In my case running with `--debug` printed:
[code]
I guess resizing is not properly working.

I increased these values in `/usr/local/share/openalpr/config/openalpr.defaults.conf` and it started worked fine. Resizing the image using an external tool also works, of

[2020-05-07 12:03] Husenjon commented on #660
???

[2020-05-09 22:38] Bdelspi commented on #528
To say "you are the man!" would be an understatement! I spent hours troubleshooting this! Your suggestion worked like a charm! Thank you, thank you, thank you!!!

[2020-05-12 09:07] joshuar87 opened #890 "Mjpeg vs H264"
Hi,

I read in the docs that you have the choice of Mjpeg or H264. Are there pro's and cons to each (if you are using a ipcam that supports both)? And what about h265 or h264+?

Thanks!

[2020-05-12 20:15] snizzel500 opened #891 "openalpr compiling issue. Need help"
i'm trying to install openalpr on a raspberry pi 3B+. I've done everything as in the documentation but when i try to compile openalpr i get the same error everytime. also i have tried everything i could find on the internet to solve this problem but i can't seem to fix it.

when i use make command i get this everytime it always stops at utility.cpp.o :
![issue](https://user-images.githubuserconten

[2020-05-13 03:56] xycisl commented on #720
I have the same error, have you resolved this error? can you please help me with it?

[2020-05-13 22:23] paivaric commented on #124
Galera... sou novo nisso... alguém pode me ajudar a configurar para rodar com placas brasileiras?

[2020-05-15 03:37] #720 closed

[2020-05-17 10:58] KarlComSe commented on #891
I faced the same issue yesterday, i.e. `'FILLED' was not declared in this scope rectangle...`. I think it is due to you / me having the wrong version of openCV, hence not a bug.

To fix the problem, I created a virtual machine with Ubuntu 20.04, made sure that the version of openCV I installed was 4+ and it has been working since then.

[2020-05-18 06:27] Akshaysharma29 commented on #385
@Hupiter does there exist some limitation on its usage?

[2020-05-25 17:18] guicolares opened #892 "Is it possible reconize motorbike without plate?"
Hello every one!!

We are using this framework for recognize plates and car's model but also we need detect motorbike front for our parking system because there is not a plate.

Is it possible do this with ALPR or I need develop with YOLO (another process) for example?

Thanks.

[2020-05-26 03:18] agperezr opened #893 "Skipping last character in license plates"
Hello,

I'm rather new to OCR and ML in general and I'm trying to implement an OCR to read license plates in Mexico, that being said, I've consistently found that the last character of certain plates is missing, the output is as follows:

plate0: 10 results
    - UPF337	 confidence: 93.0117
    - OPF337	 confidence: 82.0502
    - DPF337	 confidence: 81.8447
    - 0PF337	 confidence: 81.7633
    -

[2020-05-26 12:45] #892 closed

[2020-05-26 13:03] manojbiswanath opened #894 "Different sizes of license plate"
Hi,

There are different sizes of license plates (depending on the number of letters on the plate) for Germany. One of the pictures below detected some extra region in ROI that does not belong to the license plate. While in the other picture, the detection is perfect. Both are German cars and I have to use the European "EU" trained data for the detector.
Can you suggest any ideas how I can fix thi

[2020-05-28 03:39] longtran84 commented on #816
@dyama can you share for me Japanese license plate ?

[2020-05-28 15:00] nalletje opened #895 "Suggestions needed - Different results on windows/docker"
We are trying to use the docker setup to resolve license plates.
It works, but has it problems.

Out of 184 vehicles (each vehicle we processed 6 different images), we found 65 correct plates.
A part of that is caused by bad images.

We have our questions by a lot of images... Why are they not recognised or (seems) not being processed at all? And why do they validate on the windows setup? (Both ar

[2020-05-28 15:26] nalletje commented on #895
Figured out  question 1.

(by doing $? after you run the docker command, you can see the error code)
In my case: 139

Segmentation fault.

[2020-06-05 20:25] #884 closed

[2020-06-06 12:42] ripkk commented on #129
@joshuar87 I've managed to get a live real time ALPR application going for android, its free to use also.

[2020-06-06 17:56] dheerajdj02 opened #896 "Does it works on motorcycle number..?"
As i worked it is not recognize motorcycle number.How to fix it

[2020-06-06 17:59] dheerajdj02 commented on #848
hey

i need to give correct path to
alpr = Alpr("us", "openalpr/openalpr.conf", "openalpr/runtime_data/")

[2020-06-06 18:02] dheerajdj02 commented on #894
Hi,
As i seen it sometimes doesnot  shows correct results. if it is near to ROI we can get better results.

[2020-06-07 05:48] jayendrakantipudi opened #897 "Make fails for openalpr build"
After doing this,
`cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_INSTALL_SYSCONFDIR:PATH=/etc ..
`
the output was,
`-- Found Tesseract`
`-- Found log4cplus `
`-- Configuring done`
`-- Generating done`
`-- Build files have been written to: /home/jayendra/openalpr/src/build`

I entered `make` command. Got the following error in logc4plus,(shortend the error)
`[ 50%] Building CXX object CMakeFiles/a

[2020-06-07 05:56] jayendrakantipudi commented on #859
Go to the `openalpr/src` folder in that you can find `bindings/python`  folder. In that folder open terminal and enter command `python setup.py install`. There you go, you can start using it from python as
`from openalpr import Alpr`

[2020-06-07 09:51] jayendrakantipudi commented on #897
I found a solution which may not be the correct thing to do.
I have simply disabled the alprd installation, by changing value of `WITH_DAEMON` as `OFF` instead of `ON` in `main.cpp` present in `openalpr/src`

[2020-06-07 09:51] #897 closed

[2020-06-07 19:18] manojbiswanath commented on #894
The problem is due to different plate sizes. So, extra region is detected in the bounding box

[2020-06-08 06:26] Erictsk74 commented on #517
Hi Merimem,

May i know what is the rational for you to go to the "hardway"? Is it really necessary for that? I am quite lost on what is the purpose for that. Thanks for explaining.

[2020-06-08 15:07] michaelradhuber commented on #292
Send me the files I will post the training file here then

[2020-06-08 20:56] LPRTECH opened #898 "LPR & AXIS Artifacts"
I am noticing a issue with our system. I have upgraded to the latest 2.7.103. I am running a AXIS Q1786-L.

The camera doesn't show this, only when on the OpenALPR desktop agent.

Pictures and video attached.

https://drive.google.com/drive/folders/1O55BjXVcf5-Bdo0webkEoYu8DeJldeMM?usp=sharing

[2020-06-09 15:44] manojbiswanath commented on #894
Also in general how can we get better results ? Is there anything we can tweak or just train with more pictures?

[2020-06-10 02:59] ittgung commented on #340
I use to meet openalprfiletype=file.mjpg failed to open too. I remember that when I make opencv, it show ffmpeg not support. So I install ffmpeg then make and install opencv again. It's work.

[2020-06-10 18:16] mjbedford opened #899 "openalpr python 2.7 rpi4 undefined symbol openalpr_init"
I have openalpr installed and the cli works and I have moved on to try and use the python binding but I get the following error when I cal Aplr()

Python 2.7.16 (default, Oct 10 2019, 22:02:15)
[GCC 8.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/pi/.local/lib/python2.7/s

[2020-06-14 12:06] michaelradhuber commented on #292
@aperantogalasio on Twitter, thanks

[2020-06-17 09:22] nishkakhendry commented on #775
When I ran into this error it turned out to be because it was confusing the library libtiff with the conda package libtiff. Running "conda uninstall libtiff" fixed all these problems. Just putting it here in case anyone else has a similar issue!

[2020-06-18 08:58] lrnzo commented on #839
hello, i get the same error, whilst trying to install openalpr-web in ubuntu running in a docker container on my rpi4. does the package openalpr-web not exists for the arch or is it only available as a commercial enhancement?

[2020-06-18 09:05] lrnzo opened #901 "found minor typo in documentation"
hello there, i am not sure if this is the correct place to report this, but maybe a better knowing person can forward it to the right place. if you CTRL-F [here](http://doc.openalpr.com/opensource.html#efficient-processing-via-motion-detection) for " ta " you will find what i mean.

kind regards

[2020-06-19 22:18] Nad-code opened #902 "Problem with pull beanstalk"
Hai all
i don't why beanstalk cannot pull to database . many cording i try to pull but it still not working.
i hope this problem can solve .

error i get for this cording

Watching gate.
Emptying beanstalk.
/usr/local/lib/python2.7/dist-packages/beanstalkc.py:120: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.

[2020-06-24 14:31] jerrychong25 commented on #789
No longer using openalpr. Will close this issue.

Thanks all!

[2020-06-24 14:31] #789 closed

[2020-06-24 14:31] jerrychong25 commented on #790
No longer using openalpr. Will close this issue.

Thanks all!

[2020-06-24 14:31] #790 closed

[2020-06-25 03:12] jlgranda commented on #846
Hi, I get the same output when compile QField
...
/usr/bin/ld: /usr/lib64/libgdal.so.26: undefined reference to `PQfname@RHPG_9.6'
....

I follow this issue and try erase /usr/pgsql-12/lib/libpq.so.5, but PostgreSQL uninstall. Then I reinstall Postgres server and client.

The problem persist :(

[2020-06-25 05:49] jlgranda commented on #846
Finally, I remove all repos for Postgres (e.g PostgreSQL Yum Repository) and install default PostgreSQL in RPMs. This works for me.

[2020-06-27 21:33] navneetk98 commented on #739
Can you please give steps for that...Cant find a Opencv version2 and where to change too

[2020-06-27 21:33] navneetk98 commented on #663
Can you please give steps for that...Cant find a Opencv version2 and where to change too
@VolgGTU

[2020-06-29 02:51] NSnietol commented on #599
Does anyone know something about it? I'm getting `Segmentation fault (core dumped)` while it's running on Raspberry PI 3

[2020-07-07 17:29] binary1230 commented on #761
same issue, @TdevSoft fix with the PPA repos fixed it for me.  "Ubuntu 18.04.4 LTS" running under Win10 linux subsystem

[2020-07-18 11:55] longtran84 opened #903 "Support Japanese license plates?"
How can I recognize Japanese license plates?

[2020-07-19 06:32] DarkRoku12 commented on #804
I'm having the same issue.

Copied the whole project from my working computer (Windows 10 - 1909) to a Windows Server 2016 (Version 1607).
And with the same image it yields different results.

Copying the ALPR files from the server to my laptop and running it yields the same result as in my working pc. My laptop is running Windows 1909.

Its the same:
- OpenALPR, binaries files & config.
- Same Vi

[2020-07-20 07:19] shahanahsyed opened #904 "from openalpr import alpr --- not working"
<img width="953" alt="git error" src="https://user-images.githubusercontent.com/32585799/87910313-7032e200-ca87-11ea-954f-1e0830e365f0.PNG">

[2020-07-20 08:08] #904 closed

[2020-07-20 08:09] shahanahsyed commented on #904
changed
from openalpr import alpr
to
from openalpr import Alpr

#casesensitive

[2020-07-20 10:39] theonlyNischal commented on #882
`sudo cp -a /usr/share/openalpr/runtime_data/ocr/tessdata/*.traineddata /usr/share/openalpr/runtime_data/ocr/`

I had the same issue and copying solved my issue.

[2020-07-20 12:31] martijintro commented on #882
Thank you for your information.

Since we use Debian 9.x, instead of Ubuntu 18.x LTS, the problem does not exist anymore. On Debian 9.x, it's not necessary to solve that issue - works by default without that problems.

[2020-07-21 05:08] theonlyNischal commented on #758
I think https://github.com/openalpr/openalpr/issues/853#issuecomment-553496958 will help.

And also you can look at this comment if you get error like "missing config" https://github.com/openalpr/train-ocr/issues/34#issuecomment-609913141

[2020-07-21 05:09] theonlyNischal commented on #903
You can look at this https://github.com/openalpr/openalpr/issues/853#issuecomment-553496958 . I think this will help.

[2020-07-21 17:26] zhanghao-njmu commented on #846
Thanks! @jlgranda I meet the same problem.
Finally I found it caused by the **libpq** provided by **pgdg-common** repo. I solved my problem by reinstalling the libpq using the default repo (**AppStream**).
[code]

[2020-07-21 19:49] jlgranda commented on #846
Yeah!

[2020-07-22 17:32] quequiW commented on #707
Hello everyone,

Same issue here.

I just downloaded the last version of tesseract, build and re-build openalpr. And it works!!!

[code]
And then:
[code]
Hope this help you.
Saludos desde Argentina (this explain my english...sorry)

[2020-07-22 17:33] quequiW commented on #761
Hello everyone,

Same issue here.

I just downloaded the last version of tesseract, build and re-build openalpr. And it works!!!

[code]

And then:
[code]

Hope this help you.
Saludos desde Argentina (this explain my english...sorry)

[2020-07-22 17:38] quequiW commented on #761
Hello everyone,

Same issue here.

I just downloaded the last version of tesseract, build and re-build openalpr. And it works!!! Thanks to @DmitriiCM

wget  https://github.com/tesseract-ocr/tesseract/archive/4.0.0.tar.gz
gunzip 4.0.0.tar.gz
tar -xvf 4.0.0.tar
cd tesseract-4.0.0/
./autogen.sh
./configure
make -j4
sudo make install
sudo ldconfig
And then:

cd openalpr/src
cmake ./
make
sudo make ins

[2020-07-22 17:42] quequiW commented on #766
Hello everyone,

Same issue here.

I just downloaded the last version of tesseract, build and re-build openalpr. And it works!!!

wget  https://github.com/tesseract-ocr/tesseract/archive/4.0.0.tar.gz
gunzip 4.0.0.tar.gz
tar -xvf 4.0.0.tar
cd tesseract-4.0.0/
./autogen.sh
./configure
make -j4
sudo make install
sudo ldconfig
And then:

cd openalpr/src
cmake ./
make
sudo make install
sudo ldconfig
Ho

[2020-07-22 17:42] quequiW commented on #766
Hello everyone,

Same issue here.

I just downloaded the last version of tesseract, build and re-build openalpr. And it works!!! Thanks to @DmitriiCM

[code]
And then:

[code]
Hope this help you.
Saludos desde Argentina (this explain my english...sorry)

[2020-07-22 17:43] quequiW commented on #761
Hello everyone,

Same issue here.

I just downloaded the last version of tesseract, build and re-build openalpr. And it works!!! Thanks to @DmitriiCM

[code]
And then:

[code]
Hope this help you.
Saludos desde Argentina (this explain my english...sorry)

[2020-07-24 23:38] CarlosBustos1 opened #909 "Is the repository up to date?"
The last version/tag for openAlpr in github is 2.3.0 but I see latest comercial release is 2.7.103 (alpr.exe --version) . So, Is the repository not being updated or I do not understand whell the meaning of the diferents versions.

[2020-07-27 14:03] ArthurAttout commented on #909
This repo isn't maintained anymore, it doesn't reflect the commercial version. It's been a long time this repo should've been marked as archive. (see https://github.com/openalpr/openalpr/issues/842)

[2020-07-29 21:00] needlessq commented on #909
Nope it doesn't

[2020-08-03 07:11] jayjupdhig opened #910 "Does it work with Ubuntu 20.04 LTS"
Hi there

Does the current version work with Ubuntu 20.04 LTS?

Thank you for your feedback.

With best regards,
Jan

[2020-08-04 14:27] aboese opened #911 "Raspberry Pi install process seems to be broken"
Any guidance to resolving this would be great. The last compile fails. Also, the regular installer process seems to be totally broken even for command line checks, let alone python lib integration. I’ve happy to volunteer time to help resolve, but some direction on approach would be great.

What dumps do you need?

[2020-08-04 14:30] aboese commented on #871
I’d like to vote for this issue.

[2020-08-05 14:21] karborator commented on #808
I guess it * Requires Commercial License as desribed in the docs >http://doc.openalpr.com/video_processing.html

[2020-08-12 04:21] sguerrer commented on #414
Hi, is there a fix already for this?

[2020-08-12 11:42] rafael-pereira-atman commented on #750
What do I have to do to read the debug output?

[2020-08-12 18:07] jayjupdhig commented on #910
No answer?!?

[2020-08-14 12:10] rafael-pereira-atman commented on #748
Hi, I've tested your images and it worked. I've changed the prewarp configurations for each image. As follow the configuration.

Image above
prewarp = planar,620.000000,350.000000,-0.000350,0.000150,-0.000000,1.015000,0.750000,0.000000,0.000000

Image below
prewarp = planar,605.000000,340.000000,-0.000000,0.000000,-0.000000,1.000000,0.740000,0.000000,0.000000

[2020-08-14 17:22] rafael-pereira-atman commented on #492
@jovargas what do you use as parameters to make each change? Do you notice anything in the debug?

[2020-08-15 21:47] tatuiot commented on #750
You have to put the --debug option in the command. something like alpr --debug -c br plate.jpg

[2020-08-19 09:17] tokenize47 commented on #911
You need to update OpenCV to version 4 for it to compile.

[2020-08-19 09:18] tokenize47 opened #912 "OpenCV error during recognition"
Hello, I'm getting an OpenCV exception while recognizing an imagine using the python bindings. Using the command line, everything works fine.

Caught exception in OpenALPR recognize: OpenCV(4.2.0) ../modules/imgcodecs/src/loadsave.cpp:730: error: (-215:Assertion failed) !buf.empty() in function 'imdecode_'

Any help would be appreciated.

[2020-08-19 10:31] #912 closed, assigned to nobody

[2020-08-19 10:31] tokenize47 commented on #912
Was my fault. Was passing an empty image to the python binding.

[2020-08-20 10:12] JecintaMulongo commented on #311
@matthill
I encountered this error while running openalpr in pycharm:
AttributeError: /usr/lib/libopenalpr.so.2: undefined symbol: openalpr_add_encoded_image_to_batch
Exception ignored in: <bound method Alpr.__del__ of <openalpr.openalpr.Alpr object at 0x7f1ef1434d68>>
Traceback (most recent call last):
  File "/virtualenvs/cv/lib/python3.6/site-packages/openalpr/openalpr.py", line 159, in __del__

[2020-08-20 10:24] JecintaMulongo opened #913 "AttributeError: 'Alpr' object has no attribute 'loaded'"
I encountered this error while running openalpr in pycharm ubuntu:

AttributeError: /usr/lib/libopenalpr.so.2: undefined symbol: openalpr_add_encoded_image_to_batch
Exception ignored in: <bound method Alpr.del of <openalpr.openalpr.Alpr object at 0x7f1ef1434d68>>
Traceback (most recent call last):
File "/virtualenvs/cv/lib/python3.6/site-packages/openalpr/openalpr.py", line 159, in del
if self.is_

[2020-08-20 13:41] sabarshad1000 commented on #528
Worked for me. Thank you

[2020-08-22 08:03] robster0326 commented on #841
You should store each result in a database, so you can compare the new recognitions with them.

[2020-08-24 23:52] sguerrer commented on #816
Hi, do you have a channel where we can see how did you do it?
I am trying to do it for plates from México

[2020-08-24 23:53] sguerrer commented on #664
Also for México :)

[2020-08-26 01:02] sguerrer opened #914 "RotationMatrix2D"
Hi community, I am trying to use openalpr for plates from Mexico.
I am classifying chars using command: openalpr-utils-classifychars mx platesfolder outputfolder.
Once I execute, I got an error that says:
    "symbol lookup error: /usr/lib/libopenalpr.so.2: undefined symbol: _ZN2cv20getRotationMatrix2D_ENS_6Point_IfEEdd"

Have you have this issue before?
How can I solve it?

Thank you very much.

[2020-08-28 17:55] muhzak commented on #692
Didnt work for me :(

[2020-08-29 17:46] shal opened #915 "Missing tag with support of OpenCV 4.4"
I would suggest releasing OpenALPR `v2.4.0` with support of OpenCV 4, which would give the ability to lock the working version.

[2020-08-29 21:35] ankandrew commented on #459
Si alguien esta interesado hice un [reconocedor de texto](https://github.com/ankandrew/cnn-ocr-lp) para patentes Argentinas. No esta entrenado con Tesseract, pero es resource friendly -> en mi 1070 corre a +400 FPS)

End-to-end Localizador + Reconocedor: [link](https://github.com/ankandrew/ConvALPR) CPU friendly +30 FPS